{% load core_tags staticfiles i18n cms_tags menu_tags sekizai_tags thumbnail %}

<table id="finance" pkey="finances">
    <thead>
     <th>Finance Type</th><th>Account</th>
     {% for period in periods %} <th>{{ period }}</th> {% endfor %}
    </thead>
    <tbody>
    {% for obj_type_name, accounts1 in accounts.items %}
    {% for account_name, accounts_ in accounts1.items %}
     <tr>
         <td>{{ obj_type_name }}</td><td>{{ account_name }}</td>
         {% for period, data in accounts_.items %}
            {% if forloop.last %}
                 <td><input id="input_{{data.0}}" pkey="{{data.0}}" size="6" min="{{data.2}}" max="{{data.3}}"
                            onchange="update_field_model(event, '{% url "core:update_field_model" %}')"
                            app="globsim" model="FinancePeriodDataDetail"
                            value="{{data.1}}" field = "amount" type="input" />
                 </td>
            {% else %}
               <td>{{data.1}}</td>
            {% endif %}
         {% endfor %}
     </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
