{% extends "base_portfolio0.html" %}
{% load static %}
{% load thumbnail %}

  {% block title %}
  <title>Portfolio</title>
  {% endblock%}

{% block meta %}
{% endblock %}

{% block links %}
{% endblock %}

{% block add_css_base %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/django_cms_original.css' %}" rel="stylesheet">
    <link href="{% static 'css/messages.css' %}" rel="stylesheet">
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
{% endblock add_css_base %}

{% block body_content %}
{% endblock %}

