<!DOCTYPE html>
<html>
<head>
	<title>Uganda Towns</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style_login_ut.css">

</head>
<body>
	<div class="card">
		<div class="imgBox">
			<img src="uganda_flag.jpeg">
			<img src="uganda_flag1.jpeg">
		</div>
		<div class="details">
			<div class="content">
					<div class="login-content">
						<form action="index.html">
							<h2 class="title">Welcome</h2>
							   <div class="input-div one">
								  <div class="i">
										  <i class="fas fa-user"></i>
								  </div>
								  <div class="div">
										  <h5>Username</h5>
										  <input type="text" class="input">
								  </div>
							   </div>
							   <div class="input-div pass">
								  <div class="i"> 
									   <i class="fas fa-lock"></i>
								  </div>
								  <div class="div">
									   <h5>Password</h5>
									   <input type="password" class="input">
							   </div>
							</div>
							<a href="#">Forgot Password?</a>
							<input type="submit" class="btn" value="Login">
						</form>
					</div>
				</div>
			</div>
			       <script type="text/javascript" src="main.js"></script>

			</div>
		</div>
	</div>
	</div>
</body>
</html>