{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="calculations" class="tabcontent" style="padding-left:20px;width:100%">

  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item"><a id="calc_cost_of_debt" class="nav-link" data-toggle="pill" href="#tab_cost_of_debt">Cost of Debt</a></li>
    <li class="nav-item"><a id="calc_cost_of_equity" class="nav-link" data-toggle="pill" href="#tab_cost_of_equity">Cost of Equity</a></li>
    <li class="nav-item"><a id="calc_estimated_roic" class="nav-link" data-toggle="pill" href="#tab_estimated_roic">Estimated ROIC</a></li>
    <li class="nav-item"><a id="calc_effective_tax_rate" class="nav-link" data-toggle="pill" href="#tab_effective_tax_rate">Effective tax rate</a></li>
    <li class="nav-item"><a id="calc_risk_premium" class="nav-link" data-toggle="pill"
                            href="#tab_risk_premium" onclick="set_risk_premium_()">Risk Premium</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="tab_cost_of_debt" class="container tab-pane">
            <table class="data" style="width:30%">
                <thead><tr><th>Parameter</th><th>Value</th><th></th></tr></thead>
                <tr><td class="account">{% trans "Risk Free" %}</td><td id="cofd_rf" style="text-align:right;"></td><td>%</td></tr>
                <tr><td class="account">EBIT</td><td id="cofd_ebit" style="text-align:right;"></td><td></td></tr>
                <tr><td class="account">{% trans "Interest Expense" %}</td>
                    <td id="cofd_interest_expense" style="text-align:right;"></td></tr>
                <tr><td class="account">{% trans "Interest Coverage" %}</td>
                    <td id="cofd_interest_coverage" style="text-align:right;"></td><td></td></tr>
                <tr><td class="account">{% trans "Estimated Bond Rating" %}</td>
                    <td id="cofd_estimated_bond_rating" style="text-align:right;"></td><td></td></tr>
                <tr><td class="account">{% trans "Estimated Company Default Spread" %}</td>
                    <td id="cofd_estimated_company_default_spread" style="text-align:right;"></td><td>%</td></tr>
                <tr><td class="account">{% trans "Estimated County Default Spread" %}</td>
                    <td id="cofd_estimated_county_default_spread" style="text-align:right;"></td><td>%</td></tr>
                <tr><td class="account">{% trans "Estimated Cost of Debt" %}</td>
                    <td id="cofd_estimated_cost_of_debt" style="text-align:right;"></td><td>%</td></tr>
            </table>
    </div>

    <div id="tab_cost_of_equity" class="container tab-pane">
              <table class="data" style="width:25%">
                  <thead><tr><th>Parameter</th><th>Value</th><th></th></tr></thead>
                  <tr><td class="account">{% trans "Risk Free" %}</td>
                      <td id="cofe_rf" style="text-align:right;">0</td><td>%</td></tr>
                  <tr><td class="account">{% trans "Unlevred Beta" %}</td>
                      <td id="cofe_ub" style="text-align:right;">0</td><td></td></tr>
                  <tr><td class="account">{% trans "Beta" %}</td>
                      <td id="cofe_b" style="text-align:right;">0</td><td></td></tr>
                  <tr><td class="account">{% trans "Mature marker risk premium" %}</td>
                      <td id="cofe_rp" style="text-align:right;">0</td><td>%</td>
                  </tr>
                  <tr><td class="account">{% trans "Adj. Default Spread" %}</td>
                      <td id="cofe_ads" style="text-align:right;">0</td><td>%</td></tr>
                  <tr><td class="account">{% trans "Volatility ratio" %}</td>
                      <td id="cofe_vr" style="text-align:right;">{{ project.volatility_ratio }}</td></tr>
                  <tr><td class="account">{% trans "Total Country Risk" %}</td>
                      <td id="cofe_tcr" style="text-align:right;">0</td><td>%</td></tr>
                  <tr><td class="account">{% trans "Cost of Equity" %}</td>
                      <td id="cofe_" style="text-align:right;">0</td><td>%</td></tr>
              </table>
    </div>

    <div id="tab_estimated_roic" class="container tab-pane">
            <!--    Estimated ROIC
            <span style="color:blue; font-size: 20px;">
                <u><b>{% trans "Estimated ROIC" %}</b></u>
            </span><br/>
             -->
            <span style="color:blue; font-size: 20px;"># of Periods for estimation:</span>
            <input id="roic_effective_tax_rate_periods" type="text" value="5" oninput="on_change_num_of_estimation_periods(event)" style="width:55px"/>
            <table class="data" id="estimated_roic" class="w3-table-all w3-hoverable" style="width:100%">
             </table>
    </div>

    <div id="tab_effective_tax_rate" class="container tab-pane">
        <!--   Effective tax rate
        <span style="color:blue; font-size: 20px;">
            <u><b>{% trans "Effective tax rate" %}</b></u>
        </span><br/>
        -->
            <span style="color:blue; font-size: 20px;"># of Periods for estimation:</span>
            <input id="roic_effective_tax_rate_periods_" type="text" value="5" oninput="on_change_num_of_estimation_periods(event)" style="width:55px"/>
          <table class="data" id="effective_tax_rate" class="w3-table-all w3-hoverable" style="width:100%">
          </table>
    </div>

    <div id="tab_risk_premium" class="container tab-pane" style="width:100%;">

        <div id="chart_components" style="width:100%;">
        </div>
        <div id="chart_average" style="width:100%;">
        </div>
        <div id="chart_b" style="width:100%;">
        </div>
        <div id="chart_geometric" style="width:100%;">
        </div>
        <div id="risk_premium_data">
            Calculating Risk Premium.  Please wait.
        </div>
    </div>

  </div>
<br/><br/><br/><br/>


</div>

<!-- WACC -->
<script>
function set_wacc()
{
    d = 1*vObj["book_value_debt"]
    e = 1*vObj["book_value_equity"]
    v = d+e
    vObj["wacc"] = (d/v)*vObj["cofd"]*(1-1*vObj["marginal_tax_rate"]/100) + (e/v)*vObj["cofe"]
    document.getElementById("wacc_").value = Math.round(100*vObj["wacc"])/100
    //--
    vObj["roic_lt"] = vObj["wacc"]
    document.getElementById('roic_lt_').value = Math.round(100*vObj["roic_lt"])/100
    document.getElementById('re_investment_rate_short_term_').value = Math.round(100*100*vObj["stgrowth"]/vObj["roic_st"])/100

    // need to complete data pull of long term growth: vObj["ltgrowth"] to be GDP growth
    vObj["ltgrowth"] = 0.02
    // document.getElementById('re_investment_rate_long_term_').value = Math.round(100*100*vObj["ltgrowth"]/vObj["roic_lt"])/100
}
</script>

<!-- Cost of Debt -->
<script>
function set_cost_of_debt()
{
  document.getElementById("cofd_rf").innerHTML = Math.round(100*vObj["rf"]*100)/100;
  var ve = get_account_value_tq(y=vObj["valuation_year"], account="20800");
  document.getElementById("cofd_ebit").innerHTML=toCommas(ve);
  var vi=get_account_value_tq(y=vObj["valuation_year"], account="20850",0);

  document.getElementById("cofd_interest_expense").innerHTML=toCommas(vi)
  var icr_=ve/vi;if(icr_<=-100000.0){icr_=-1000.0};if(icr_>=100000.0){icr_ = 1000.0}
  if(vi < 1)
  {document.getElementById("cofd_interest_coverage").innerHTML = "<span class='tooltip_'>Infinity<span class='tooltiptext'>Check the Interest Expense in the data section</span></span>"
  } else {document.getElementById("cofd_interest_coverage").innerHTML=Math.round(100*icr_)/100 }

  document.getElementById("cofd_estimated_county_default_spread").innerHTML=vObj["country_default_spread"];
  if (vObj["interest_coverage_ratio_table"] == 0)
  {
    $.post('{% url "corporatevaluation:get_interest_coverage_ratio" %}',
      {a: "a" },
      function(data){
        vObj["interest_coverage_ratio_table"]=data;
        set_cost_of_debt_(icr_);
      })
  } else { set_cost_of_debt_(icr_); }
}
</script>

<!-- set_cost_of_debt_ -->
<script>
function set_cost_of_debt_(icr_)
{var icrv = vObj["interest_coverage_ratio_table"];
  for(key in icrv)
  {
     var f=icrv[key]["from_ic"];var t=icrv[key]["to_ic"];
     if(1*f<1*icr_ && 1*icr_<1*t){var rating=icrv[key]["rating"];var spread = icrv[key]["spread"];break;}
  }
    document.getElementById("cofd_estimated_bond_rating").innerHTML=rating;
    document.getElementById("cofd_estimated_company_default_spread").innerHTML=Math.round(10000*spread)/10000;

    var cofd = 100*vObj["rf"]+1*spread+1*vObj["country_default_spread"]; vObj["cofd"] = cofd;
    document.getElementById("cofd_estimated_cost_of_debt").innerHTML=Math.round(100*cofd)/100;
    set_wacc();
    //alert(icr_ + " --:::::::-- " + f + " " + t + " " + rating + " " + spread)
}
</script>

<!-- set cofe -->
<script>
function set_cofe()
{
    document.getElementById('cofe_rf').innerHTML = Math.round(100*vObj["rf"]*100)/100;
    var effective_tax_rate = vObj["effective_tax_rate"];
    var d = get_account_value(y=vObj["valuation_year"], account="14990");
    var e = get_account_value(y=vObj["valuation_year"], account="15990");
    vObj["book_value_debt"] = d; vObj["book_value_equity"] = e; d_over_e = d/e;

    //alert('d_over_e=' + d_over_e + "  : vObj[ubeta]=" + vObj["ubeta"] + "  vObj[marginal_tax_rate]=: " + vObj["marginal_tax_rate"] + " Beta Co= " +  (1+(1-(vObj["marginal_tax_rate"]/100))*d_over_e) )

    var b = vObj["ubeta"]*  (1+(1-vObj["marginal_tax_rate"]/100)*d_over_e)
    document.getElementById('cofe_b').innerHTML = Math.round(100*b)/100

    var rf = vObj["rf"]*100;
    var rp = vObj["mature_marker_risk_premium"]*100; document.getElementById('cofe_rp').innerHTML = rp;
    var vr = vObj["volatility_ratio"];  ads = vObj["country_default_spread"];
    document.getElementById('cofe_ads').innerHTML =  Math.round(100*ads)/100; tcr = ads*vr;
    document.getElementById('cofe_tcr').innerHTML = Math.round(100*tcr)/100
    cofe_ = rf + b*rp + tcr;
    document.getElementById('cofe_').innerHTML = Math.round(100*cofe_)/100
    vObj["cofe"] = Math.round(100*cofe_)/100;
    set_wacc();
}

</script>

<!-- calculate all -->
<script>
function calculate_all()
{
  try{s="set_cost_of_debt() "; set_cost_of_debt();} catch(er){alert("inside calculate_all(): - error in function "+s)}
  try{s='set_roic_effective_tax_rate(vObj["valuation_year"])'; set_roic_effective_tax_rate(vObj["valuation_year"])
  } catch(er){alert("inside calculate_all(): - error in function "+s)}
  try{s="set_cofe() "; set_cofe();} catch(er){alert("inside calculate_all(): - error in function "+s)}
  var sq="";if(vObj["last_quarter_of_data"]!=-1 && vObj["last_quarter_of_data"]!=0)
  {
   sq=":Q"+vObj["last_quarter_of_data"]
  }
  document.getElementById("valuation_year_").innerHTML=vObj["valuation_year"]+sq;
  document.getElementById("cf1_ebit").value = get_account_value_tq(y=vObj["valuation_year"], account="20800");
  try{s="input_dcf() "; input_dcf();} catch(er){alert("inside calculate_all(): - error in function "+s)}; // in valuation tab
}
</script>


<!-- get_risk_premium -->
<script>

function set_active_tab_()
{
  var evt = new Event("click", {bubbles: true});
  document.getElementById("calc_cost_of_debt").dispatchEvent(evt);
}

function set_risk_premium_()
{
  if (vObj["risk_premium_downloaded"] == 0)
  {
    get_risk_premium() ; vObj["risk_premium_downloaded"] = 1;
  }
}

</script>

<!--get_risk_premium-->
<script>

function get_risk_premium()
{
    this_year = new Date().getFullYear();
    year50_ = this_year - 50;
    year10_ = this_year - 10;
     $.post('{% url "corporatevaluation:get_risk_premium" %}',
      {
        year50: year50_,
        year10: year10_,
        cv_project_id: vObj['cv_project_id'],
        is_update : vObj["is_update"],
      },
      function(data){
            var s = "<tr><th></th>"
            var ss = "<tr><td></td>"
            nz_ = 0
            for (var k in data)
            {
              s += "<th colspan='2'>" + k +"</th>"
              nzz_ = 0
              for (var y in data[k])
              {
                  if (nz_ < Object.keys(data[k]).length)
                  {
                     eval("s_"+y+" = '<td>"+y+"-"+(this_year-1).toString()+"</td>'"); nz_ += 1;
                     eval("s_s_"+y+" = '<td style=\"padding-right:5px;text-align: center;\">Std</td>'");
                  }
                  //alert('eval("s_s_"+y)')
                  //alert(eval("s_s_"+y))

                  for (var t in data[k][y])
                  {
                      if (nzz_ < 2)
                      {
                       ss += "<td>"+t+"</td>"; nzz_ += 1
                      }
                    eval("s_"+y+" += '<td style=\"padding-right:5px;text-align: center;\">" + data[k][y][t]['value'] + "</td>'")
                    eval("s_s_"+y+" += '<td style=\"padding-right:5px;text-align: center;\">" + data[k][y][t]['std'] + "</td>'");
                    //alert(eval("s_"+y))
                    //alert(eval("s_s_"+y))

                  }
              }
            }
             ss += "</tr>"
             s += "</tr>" + ss

              yi = []; ye = []; ym = [];
              gyi = []; gye = []; gym = [];
              sp500 = []; tb3ms = []; tbond = []; x = [];
              yib = []; yeb = []; ymb = [];
              for (var y in data[k])
              {
                    eval('s += "<tr>" + s_' + y + ' + "</tr>"')
                    eval('s += "<tr>" + s_s_' + y + ' + "</tr>"')
                  x.push(y)
                  yi.push(data['Arithmetic'][y]['Stocks-TBonds']['value'])
                  ye.push(data['Arithmetic'][y]['Stocks-TBonds']['std'])
                  ym.push(data['Arithmetic'][y]['Stocks-TBonds']['m_b_median'])

                  yib.push(data['Arithmetic'][y]['Stocks-TBonds']['b_value'])
                  yeb.push(data['Arithmetic'][y]['Stocks-TBonds']['b_std'])
                  ymb.push(data['Arithmetic'][y]['Stocks-TBonds']['b_m_b_median'])

                  gyi.push(data['Geometric'][y]['Stocks-TBonds']['value'])
                  gym.push(data['Geometric'][y]['Stocks-TBonds']['b_value'])

                  sp500.push(data['Arithmetic'][y]['Stocks-TBonds']['sp500'])
                  tb3ms.push(data['Arithmetic'][y]['Stocks-TBonds']['tb3ms'])
                  tbond.push(data['Arithmetic'][y]['Stocks-TBonds']['tbond'])
              }

            document.getElementById("risk_premium_data").innerHTML = "<table class='data'>" + s + "</table>"

            get_risk_premium_chart_components(x, sp500, tb3ms, tbond, "Risk Premium - Components")

            get_risk_premium_chart(x, y1=yib, y1_title='Risk Premium-average',
                                   y2=yeb, y2_title='Std',
                                   y3=ymb, y3_title='Risk Premium-median',
                                   "Risk Premium - up to year (as func of duration)", chart_id='chart_b')

            get_risk_premium_chart(x, y1=yi, y1_title='Risk Premium-average',
                                   y2=ye, y2_title='Std',
                                   y3=ym, y3_title='Risk Premium-median',
                                   "Risk Premium: from year- (as func of duration)", chart_id='chart_average')

            get_risk_premium_chart2(x, gyi, gym, "Risk Premium (geometric) from, to year- (as func of duration)", chart_id='chart_geometric')
      });
}

</script>

<!--get_risk_premium_chart-->
<script>
get_risk_premium_chart = function(x, y1, y1_title, y2, y2_title, y3, y3_title, title, chart_id)
{

//alert(x)
//alert(yi)
//alert(ye)

    var trace1 = {
      x: x,
      y: y1,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(219, 64, 82)',
        size: 8
      },
      name: y1_title,
      line: {
        color: 'rgb(219, 64, 82)',
        width: 1
      }
    };

    var trace2 = {
      x: x,
      y: y2,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(0, 0, 0)',
        size: 8
      },
      name: y2_title,
      line: {
        color: 'rgb(0, 0, 0)',
        width: 1
      }
    };

    var trace3 = {
      x: x,
      y: y3,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(55, 128, 191)',
        size: 8
      },
      name: y3_title,
      line: {
        color: 'rgb(55, 128, 191)',
        width: 1
      }
    };

    var data = [trace1, trace2, trace3]
    var layout = {title: title}
    CHART = document.getElementById(chart_id);
	Plotly.newPlot( CHART, data, layout );
}

</script>

<!--get_risk_premium_chart2-->
<script>
get_risk_premium_chart2 = function(x, yi, ym, title, chart_id)
{
    var trace1 = {
      x: x,
      y: yi,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(219, 64, 82)',
        size: 8
      },
      name: 'Risk Premium (from)',
      line: {
        color: 'rgb(219, 64, 82)',
        width: 1
      }
    };

    var trace2 = {
      x: x,
      y: gym,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(55, 128, 191)',
        size: 8
      },
      name: 'Risk Premium (up to)',
      line: {
        color: 'rgb(55, 128, 191)',
        width: 1
      }
    };

    var data = [trace1, trace2]
    var layout = {title: title}
    CHART = document.getElementById(chart_id);
	Plotly.newPlot( CHART, data, layout );
}

</script>

<!--get_risk_premium_chart_components-->
<script>

get_risk_premium_chart_components = function(x, sp500, tb3ms, tbond, title)
{
    var trace1 = {
      x: x,
      y: sp500,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(219, 64, 82)',
        size: 8
      },
      name: 'sp500',
      line: {
        color: 'rgb(219, 64, 82)',
        width: 1
      }
    };

    var trace2 = {
      x: x,
      y: tb3ms,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(0, 0, 0)',
        size: 8
      },
      name: 'tb3ms',
      line: {
        color: 'rgb(55, 128, 191)',
        width: 1
      }
    };


    var trace3 = {
      x: x,
      y: tbond,
      mode: 'lines+markers',
      marker: {
        color: 'rgb(55, 128, 191)',
        size: 8
      },
      name: 'tbond',
      line: {
        color: 'rgb(55, 128, 191)',
        width: 1
      }
    };

    var data = [trace1, trace2, trace3]
    var layout = {title: title}
    CHART = document.getElementById('chart_components');
	Plotly.newPlot( CHART, data, layout );
}


</script>

<!--ROIC and taxes-->
<script>
function on_change_num_of_estimation_periods(event)
{
 document.getElementById('roic_effective_tax_rate_periods').value = event.target.value
 document.getElementById('roic_effective_tax_rate_periods_').value = event.target.value
 calculate_all()
}

function get_quarterly_valuation_data()
{

}

// vObj["roic"]
// vObj["effective_tax_rate"]
function set_roic_effective_tax_rate(y)
{
    // --- Roic -----
    // --------------
    year = "<thead><th>Account</th>"
    oiat = "<tr><td class='account'>Operating Income After Tax</td>"
    ltd = "<tr><td class='account'>Long Tearm Liabilities</td>"

    //ltdc = "<tr><td class='account'>Long Term Debt (current)</td>"
    //tltd = "<tr><td class='account'>Long-term Liabilities</td>"

    she = "<tr><td class='account'>Stockholders Equity</td>"
    ta = "<tr><td class='account'>Invested Capital</td>"
    noiat = 0; nltd= 0; nltdc = 0; ntltd = 0; nshe = 0; nta=0
    // --
    roic_effective_tax_rate_periods_ = document.getElementById('roic_effective_tax_rate_periods').value
    valuation_year_ = parseInt(vObj["valuation_year"])
    nn_ = valuation_year_ - roic_effective_tax_rate_periods_ + 1

    for( yy = nn_; yy <=valuation_year_; yy++)
    {
     var v_ebit=get_account_value(y=yy, account="20800");
     var v_income_taxes=get_account_value(y=yy, account="20970");
     var v_lt_debt=get_account_value(y=yy, account="14990");
     var v_stockholders_equity=get_account_value(y=yy, account="15990");
     v_ebit_net=v_ebit-v_income_taxes;
     noiat+=v_ebit_net; nltd += v_lt_debt; nshe += v_stockholders_equity;
     nta_=1*v_stockholders_equity+1*v_lt_debt;
     nta += nta_;
     year += "<th>" + yy + "</th>";
     oiat += "<td style='text-align:right'>" + Math.round(10000*v_ebit_net)/100 + "</td>";
     ltd += "<td style='text-align:right'>" + Math.round(10000*v_lt_debt)/100 + "</td>";
     she += "<td style='text-align:right'><u>" + Math.round(10000*v_stockholders_equity)/100 + "</u></td>";
     ta += "<td style='text-align:right'><u>" + Math.round(10000*nta_)/100 + "</u></td>";
    }
    var roic_st = Math.round(10000*noiat/nta)/100;
    vObj["roic_st"] = roic_st;

    year += "<th>Total</th></thead>";
    oiat += "<td style='text-align:right'>"+noiat+"</td></tr>";
    ltd += "<td style='text-align:right'>"+nltd+"</td></tr>";
    she += "<td style='text-align:right'><u>"+nshe+"</u></td></tr>";
    ta += "<td style='text-align:right'><u>"+nta+"</u></td></tr>";

    st = year + oiat + ltd + she + ta + "<tr><td style='text-align:right' colspan='"+(1+1*roic_effective_tax_rate_periods_)+"'>ROIC</td><td id='calc_roic' style='text-align:right'>"+roic_st+"%</td></tr>"

    document.getElementById('estimated_roic').innerHTML = st
    document.getElementById('roic_st_').value = roic_st

    // ----------  effective_tax_rate  ------
    year = "<tr><th>Account</td>"
    it = "<tr><td class='account'>Actual Taxes</td>"
    ibt = "<tr><td class='account'>Income Before Taxes</td>"

    nit = 0; nibt= 0;
    for( yy = nn_; yy <=valuation_year_; yy++)
    {
     var income_tax = get_account_value(y=yy, account="20970"); var income = get_account_value(y=yy, account="20999");
     var income_before_tax = Math.round(100*(income + income_tax))/100;
     nit += income_tax; nibt += income_before_tax;
     year += "<th>" + yy + "</th>";
     it += "<td style='text-align:right'>" + income_tax + "</td>";
     ibt += "<td style='text-align:right'>" + toCommas(income_before_tax.toString()) + "</td>";
    }
    year += "<th>Total</th></tr>";
    nit = Math.round(10000*nit)/100;
    nibt = Math.round(10000*nibt)/100;
    it += "<td style='text-align:right'>"+toCommas(nit.toString())+"</td></tr>";
    ibt += "<td style='text-align:right'>"+toCommas(nibt.toString())+"</td></tr>";
    var effective_tax_rate = Math.round(10000*nit/nibt)/100;
    vObj["effective_tax_rate"] = effective_tax_rate;
    st = year + it + ibt + "<td style='text-align:right' colspan='"+(1+1*roic_effective_tax_rate_periods_)+"'>Actual Tax Rate</td><td id='calc_itr' style='text-align:right'>"+effective_tax_rate+"%</td></tr>"
    document.getElementById('effective_tax_rate').innerHTML = st;
    document.getElementById('effective_tax_rate_').value = effective_tax_rate;
}
</script>

