{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="comparablecompanies" class="tabcontent">
<!--    <div id="valuation_vs_actual">Valuation vs. Actual</div>-->

    <table>
        <tr>
            <td onclick="activate_obj_function_pivot_(event)">
                <button style="width: 80px;">GetData</button>
            </td>
        </tr>
    </table>

<div id="wdr-component"></div>

<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet"/>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

<!-- https://www.webdatarocks.com/doc/ -->
<!--  activate_obj_function_pivot  -->
<!-- _comparablecompanies H8000-->
<script>
function activate_obj_function_pivot_()
{
 vObj["corporatevaluation_sic"]=-1;
 activate_obj_function_pivot();
}
</script>

<!-- activate_obj_function_pivot(event) -->
<script>
function activate_obj_function_pivot()
{
 var obj_="FinancialAnalysis";var fun_="get_pivot_data";var dic_={};
 dic_['ticker']=document.getElementById('search_ticker').value;
 var sic_=document.getElementById('sic_code_').value;
 var c_sic_=vObj["corporatevaluation_sic"];
 if(dic_['ticker']==""){alert("You need to chose company.");var event = new Event("click", {bubbles: true});sm.TabObjects["inputs"].tabTitle.dispatchEvent(event); return;}
 if(c_sic_!=-1 && sic_==c_sic_){return;}

 $.post('{% url "corporatevaluation:activate_obj_function" %}',
      {obj: obj_, fun: fun_, dic: JSON.stringify(dic_),},
      function(data){
                data_=[]
                for(var i=0; i<data['data']['data']['time_id'].length;i++)
                {
                 d_ = {"Company": data['data']['data']["companies_dic"][data['data']['data']['company_id'][i]],
                       "Time": data['data']['data']['time_id'][i],
                       "Account": get_account_properties(data['data']['data']['account_id'][i])[0],
                       "Amount": data['data']['data']['amount'][i]}
                 data_.push(d_)
                }
                var pivot = new WebDataRocks({
                    container: "#wdr-component",
                    toolbar: true,
                    report: {dataSource: {data:data_}}
                });
                vObj["corporatevaluation_sic"]=data['data']['data']["sic"]
            }
    );
}
</script>

</div>


