{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="data" class="tabcontent data">
</div>

<!--  pull data  -->
<script>
// Pick a company
// --------------
function toCommas(value) {return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
function removeCommas(value) {return value.replace(/,/g, '')}

function get_account(sk, y, cd)
{
  return "<td><input class='value' id='"+sk+"_" + y + "' account='"+sk+"' year='" + y + "' type='text' value='" + toCommas(cd[y][sk][0]) + "' onchange='input_valuation(event)'></td>"
}

function set_data(data)
{
    cd = data['company_data'];
    vObj["cd"] = cd;
    sy = "<thead><tr><th>Account</th>"
    z = 0
    for (y in cd)
    {
     z += 1;
     if(z==1)
     {
      for (a in cd[y])
      {
        s = a + "= \"<tr><td class='account'>"+cd[y][a][1]+"</td>\""; eval(s);
      }
     }
     sy += "<th><a id='xbrl_data_"+y+"' href='#' onclick='get_xbrl_view(event)'>"+y+"</th>"
     for (a in cd[y])
     {
       s = a + "+= get_account('"+a+"', y, cd)"; eval(s);
     }
    }
    st = "<table id='data'>"+sy+"</tr></thead>"
    ss = ""
    for (a in cd[y])
    {
      ss += "st+=" + a + " + '</tr>'; "
    }
    eval(ss)
    st += "</table><br/><br/><br/><br/><br/>";
    s_yf_http = "https:\/\/finance.yahoo.com\/quote\/" + data['ticker'] + "\/financials?p=" + data['ticker']
    st='<div><a id="fy_link" href="'+ s_yf_http +'" target="_blank"> Yahoo Finance</a></div><br/>'+st;
    sm.TabObjects["data"].tabDoc.innerHTML = st
}


function get_xbrl_view(event)
{
 e = event.target // this object is updated from the input tab
 //alert(e.outerHTML)
 sm.TabObjects["sec"].tabTitle.innerHTML = "FS XBRL(SEC): " + e.innerHTML
 var url = e.getAttribute("view_link")
 vObj["filing_year"] = e.getAttribute("filing_year")
 get_sec(url) // in sec tab
}

// update data
function input_valuation(event)
{
 e = event.target
 // alert(e.outerHTML)
 year_ = e.getAttribute("year")
 account_ = e.getAttribute("account")
 amount_= removeCommas(e.value)
 e.value = toCommas(amount_)
 ticker_ = vObj["ticker"]
 $.post('{% url "corporatevaluation:update_account" %}',
      {
        year: year_,
        account: account_,
        ticker: ticker_,
        amount: amount_,
      },
      function(data){
        alert('data updated to: ' + data['result'])
      }
    );
}
</script>