{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="data" class="tabcontent data">
</div>

<!--  pull data B2000  -->
<script>
// Pick a company
// --------------
function get_account(sk, y, cd)
{
  return "<td><input class='value' id='"+sk+"_" + y + "' account='"+sk+"' year='" + y + "' type='text' value='" + toCommas(cd[y][sk][0]) + "' onchange='input_valuation(event)'></td>"
}
</script>

<script>
// update data
function input_valuation(event)
{
 e = event.target
 // alert(e.outerHTML)
 year_ = e.getAttribute("year")
 account_ = e.getAttribute("account")
 amount_= removeCommas(e.value)
 e.value = toCommas(amount_)
 ticker_ = vObj["ticker"]
 $.post('{% url "corporatevaluation:update_account" %}',
      {
        year: year_,
        account: account_,
        ticker: ticker_,
        amount: amount_,
      },
      function(data){
        alert('data updated to: ' + data['result'])
      }
    );
}
</script>