{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}
<div class="tabcontent" id="inputs" style="background-color:lightcyan">
    <div>
        <table>
            <tr>
                <td>{% trans "Industry" %}:</td>
                <td>
                    <select id="industries" name="industries" onChange="industries_fun(event)" style="width: 150px;">
                        <option value='1'>{% trans "All Companies" %}</option>
                        {% for i in industry %}
                        <option value='{{ i.sic_code }}'>{{ i.sic_description }}</option>
                        {% endfor %}
                    </select> Sic Code: <input id="sic_code_" onchange="sic_code_onchange(event)" style="width:70px;line-height: 10px;" value="">
                </td>
            </tr>
            <tr>
                <td>{% trans "Company" %}:</td>
                <td>
                    <select id="companies" name="companies" onChange="companies_fun(event)" style="width: 150px;">
                        <option ticker="" value='0'>Choose company</option>
                        {% for c in companies %}
                        <option ticker="{{c.ticker}}" value='{{c.id}}'>{{c.company_name}}</option>
                        {% endfor %}
                    </select>
                    <span id="ticker_">Ticker: </span>
                    <input id="search_ticker" onchange="ticker_onchange(event)" style="width:70px;line-height: 10px;" value="">
                </td>
            </tr>
            <tr>
                <td>Year:</td>
                <td>
                    <select id="valuation_year" name="valuation_year" onChange="valuation_year_fun(event)"
                            style="width: 150px;">
                        <option value='0'>--------------------</option>
                    </select>
                </td>
            </tr>
        </table>

        <!-- countries -->
        <hr/>
        <button class="button" onclick="add_country_risk_premium()"><i class="fa fa-plus"></i> {% trans "Country" %}
        </button>
        <table class="data" id="country_risk_" onchange="rp_calculate(event)" oninput="risk_premium_function(event)">
            <tr>
                <th>{% trans "Country" %}</th>
                <th>{% trans "Rating" %}</th>
                <th>{% trans "Spread" %}</th>
                <th>{% trans "Risk premium" %}</th>
                <th>{% trans "Tax rate" %}</th>
                <th></th>
            </tr>
            <tr id="risk_premium_row" oninput="cofeFunction_changeit(event)">
                <td>
                    <select id="countries" name="countries" onChange="countries_fun(event)" style="width: 150px;">
                        <option value='0'>--------------------</option>
                        {% for cd in countries_data %}
                        <option data='{{cd.tax_rate}}_{{cd.moodys_rate_completed_by_sp}}_{{cd.rating_based_default_spread}}_{{cd.country_risk_premium_rating}}'
                                value={{cd.country.id}}>
                            {{cd.country.name}}
                        </option>
                        {% endfor %}
                    </select>
                </td>

                <td style="padding:0px"><input id="rp_rate" style="width:100px;line-height: 10px;" type="text" value=""/></td>
                <td style="padding:0px"><input id="rp_spread" style="width:100px;line-height: 10px;" type="text" value=""/></td>
                <td style="padding:0px"><input id="rp_risk_premium" style="width:100px;line-height: 10px;" type="text" value=""/></td>
                <td style="padding:0px"><input id="rp_tax_rate" style="width:100px;line-height: 10px;" type="text" value=""/></td>

                <td style="padding:0px"><button class="btn" onclick="delete_rp_for_country(event)"><i class="fa fa-trash"></i></button></td>
                <!--
                                    {% trans "Rating" %}: <span id="country_rating"></span>
                                    &nbsp&nbsp {% trans "Spread" %}: <span id="country_default_spread"></span>%
                                    &nbsp&nbsp {% trans "Risk premium" %}: <span id="country_risk_premium_rating"></span>%
                                    &nbsp&nbsp {% trans "Tax rate" %}: <span id="country_tax_rate"></span>%

                                                   </span>-->
            </tr>
        </table>
    </div>
    <br/>
    <div>

        <!--  Beta by industries  -->
        <!--        beta source: https://www.zacks.com/stock/chart/aap/fundamental/beta -->
        <button class="button" onclick="add_industry_beta()"><i class="fa fa-plus"></i> {% trans "Industry Beta" %}
        </button>
        <table class="data" id="cost_of_equity">
            <tr>
                <th>{% trans "Business" %}</th>
                <th>{% trans "Revenues" %}</th>
                <th>{% trans "EV/Sales" %}</th>
                <th>{% trans "Est. Value" %}</th>
                <th>{% trans "Unl. Beta" %}</th>
                <th>{% trans "Exp. Growth" %}</th>
                <th></th>
            </tr>
            <tr id="cofe_row" oninput="cofeFunction(event)" style="padding:0px;border-collapse: collapse;">
                <td style="padding:0px">
                    <select id="cofe_business" name="cofe_business" onChange="cofe_business_fun(event)"
                            style="width: 150px;padding-top:0px">
                        <option value='0'>--------------------</option>
                        {% for gi in global_industry_averages %}
                        <option value="{{ gi.ev_over_sales }}_{{ gi.unlevered_beta_corrected_for_cash }}_{{ gi.expected_earnings_growth_next_5_years }}">
                            {{ gi.industry_name }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td style="padding:0px"><input id="cofe_revenues" onchange="cofe_revenue_fun(event)"
                                               style="width:100px;line-height: 10px;" type="text" value="100"/></td>
                <td style="padding:0px"><input id="cofe_ev_over_sales" onchange="cofe_revenue_fun(event)"
                                               style="width:100px;line-height: 10px;" type="text" value="100"/></td>
                <td style="padding:0px"><input id="cofe_estimated_value" onchange="cofe_revenue_fun(event)"
                                               style="width:100px;line-height: 10px;" type="text" value="100"/></td>
                <td style="padding:0px"><input id="cofe_unlevered_beta" onchange="cofe_revenue_fun(event)"
                                               style="width:100px;line-height: 10px;" type="text" value="100"/></td>
                <td style="padding:0px"><input id="cofe_expected_growth" onchange="cofe_revenue_fun(event)"
                                               style="width:100px;line-height: 10px;" type="text" value="100"/></td>
                <td style="padding:0px">
                    <button class="btn" onclick="delete_industry_beta(event)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </table>

        <hr/>

        <table class="data" style="width:30%">
            <tr>
                <td>
                    <b>Beta: <span id="cofe_beta" style="float: right"></span></b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>{% trans "Growth" %}: <span id="cofe_growth" style="float: right"></span></b>
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- ticker_onchange(event) -->
<script>
function ticker_onchange(event)
{
  var search_ticker = event.target.value
  // alert(search_ticker)
  elm = document.getElementById("companies")
  value_ = -1
  for (var i = 0; i < elm.children.length; i++)
  {
   e = elm.children[i]
   ticker_ = e.getAttribute("ticker")
   if(search_ticker.toLowerCase() == ticker_.toLowerCase())
   {
    value_ = e.getAttribute("value")
   }
  }
  if (value_ == -1)
  {
    alert("We do not provide data for this company.");  return;
    $.post('{% url "corporatevaluation:create_company_by_ticker" %}',
          {
            ticker: search_ticker.toUpperCase(),
          },
          function(data){

         // alert(data['status']);
         // alert(data['id']);
         // alert(data['company_name']);

            var option = document.createElement("option");
            //alert(option.outerHTML)
            option.text = data['company_name'];
            option.value = data['id'];
            option.ticker = search_ticker.toUpperCase();

            //alert(option.outerHTML)
            elm.add(option);
            value_ = data['id']
            elm = document.getElementById("companies")
            elm.value = value_;
            var evt = new Event("change", {bubbles: true});elm.dispatchEvent(evt);
        });
  } else
  {
    elm.value = value_;
    var evt = new Event("change", {bubbles: true});elm.dispatchEvent(evt);
  }
}

</script>


<!-- countries_fun(event) -->
<script>
function companies_on_input(event)
{e = event.target; var x = e.value;};

function valuation_year_fun(event)
{
  //alert('valuation_year_fun 1');
  e = event.target; value = e.options[e.selectedIndex].value; vObj["valuation_year"] = value;
  calculate_all();
};

function countries_fun(event)
{
 var elm = event.target
 alert(elm.outerHTML)
 alert(elm.selectedIndex)


  var eo = elm.options[ee.selectedIndex]
  alert(eo)

  alert(eo.outerHTML)

  value = eo.getAttribute('data')
  var s = value.split("_");

  alert(s)

  marginal_tax_rate = s[0];
  //--
  //vObj["country_tax_rate"] = s[0]*100
  //vObj["country_rating"] = s[1]
  //vObj["country_default_spread"] = s[2]*100
  //--


  document.getElementById('rp_rate').value = s[1]
  document.getElementById('rp_spread').value = s[2]
  document.getElementById('rp_tax_rate').value = s[0]
  document.getElementById('rp_risk_premium').value= s[3]

  document.getElementById('cofe_ads').innerHTML = s[2]
  document.getElementById('marginal_tax_rate_').value = s[0]
  calculate_all()
}
</script>


<!-- set_data(data) It is pulling data from FinDynamics-->
<script>
function set_data(data)
{
    vObj["sic_code"] = data['sic_code']; vObj["sic_description"] = data['sic_description'];
    //document.getElementById('ticker_').innerHTML = data['ticker'];
    document.getElementById('sic_code_').value = data['sic_code'];
    document.getElementById('industries').value = data['sic_code'];
    document.getElementById('countries').value = data['country_id'];
    // -----------
    cd = data['company_data']; vObj["cd"] = cd;
    sy = "<thead><tr id='fs_years_data'><th>Account</th>"
    z = 0;
    for (y in cd)
    {z += 1;
     if(z==1)
     {for (a in cd[y]){s = a + "= \"<tr><td class='account'>"+cd[y][a][1]+"</td>\""; eval(s);}}
     sy += "<th><a id='xbrl_data_"+y+"' href='#'>"+y+"</th>"
     for (a in cd[y]){s = a + "+= get_account('"+a+"', y, cd)"; eval(s);}
    }
    st = "<table id='data'>"+sy+"</tr></thead>";
    ss = "";
    for (a in cd[y]) {ss += "st+=" + a + " + '</tr>'; "}
    eval(ss)
    st += "</table><br/><br/><br/><br/><br/>";
    s_yf_http = "https:\/\/finance.yahoo.com\/quote\/" + data['ticker'] + "\/financials?p=" + data['ticker']
    st='<div><a id="fy_link" href="'+ s_yf_http +'" target="_blank"> Yahoo Finance</a></div><br/>'+st;
    sm.TabObjects["data"].tabDoc.innerHTML = st
}
</script>

<!-- companies_fun(event) -->
<script>
function companies_fun(event)
{
  e = event.target; id_ = e.options[e.selectedIndex].value; ticker_ = e.options[e.selectedIndex].getAttribute("ticker");
  document.getElementById('search_ticker').value = ticker_;
  //alert(ticker_); //alert(id_)
  vObj["ticker"] = ticker_; vObj["accounts_chosen"] = [];
  // From FinDynamic
  $.post('{% url "corporatevaluation:get_company_detail" %}',
  {
    id: id_,
  },
  function(data){
    vObj["sec_company_data"][id_] = data;
    // in this tab
    try{ set_data(data);}
    catch(err){sm.TabObjects["data"].tabDoc.innerHTML = "We did not collect data from FinDynamic. Downloading data from SEC."};
    var event = new Event("change", {bubbles: true});
    document.getElementById('countries').dispatchEvent(event);
  });

     // From our system of data collection
     if(!vObj["sec_company_data"][ticker_]){vObj["sec_company_data"][ticker_]={}}
     console.log("get_data_ticker: ", "before post get_data_ticker");
     if(vObj["sec_company_data"][ticker_]['company_info'])
     {
        process_get_data_ticker(vObj["sec_company_data"][ticker_]['company_info'])
     } else {
         $.post('{% url "corporatevaluation:get_data_ticker" %}',
          {
            ticker: ticker_,
            accounting_principle: 'us-gaap',
            is_update : vObj["is_update"],
          },
          function(data){
                process_get_data_ticker(data)
                vObj["sec_company_data"][ticker_]['company_info'] = data
          });
     }
        console.log("get_data_ticker: ", "in post get_data_ticker 55")
}
</script>

<!-- sic_code_onchange(event) -->
<script>
function sic_code_onchange(event)
{
    var value = event.target.value; elm = document.getElementById("industries");
    value_ = -1;
    for (var i = 0; i < elm.children.length; i++)
    {
      var e = elm.children[i]; var value_e = e.getAttribute("value");
      if(value.toLowerCase() == value_e.toLowerCase()){var value_ = e.getAttribute("value")};
    }
    if (value_ == -1)
    {alert("We do not provide data for this industry.");  return;} else
    {elm.value = value_;var evt = new Event("change", {bubbles: true});elm.dispatchEvent(evt);}
}
</script>

<!-- industries_fun_(value) -->
<script>
function industries_fun_(value)
{
  var sic_code_ = value;  vObj["sic_code"] = value;  document.getElementById("sic_code_").value = value;
    $.post('{% url "corporatevaluation:get_industry_detail" %}',
      {
        sic_code: sic_code_,
      },
      function(data){
        var output = document.getElementById("companies")
        output.innerHTML = '';
        var ss = data["status"]
        arr = ss.split("[+]")
        //alert(arr[1])
        for ( kk in arr)
        {
        //alert(arr[kk])
        ar = arr[kk].split(";")
        //alert(ar[0])
        //alert(ar[1])
            var option = document.createElement("option");
            //alert(option.outerHTML)
            option.text = ar[1];
            option.value = ar[0];
            //alert(option.outerHTML)
            output.add(option);
            }
        //alert(output.outerHTML)
      }
    );
}

function industries_fun(event)
{
  e = event.target
  value = e.options[e.selectedIndex].value
  industries_fun_(value)
}
</script>
