{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

<div id="sec" class="container tabcontent">
<script type="text/javascript" src="{% static 'sec_interactive/js/jquery-1.4.3.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'sec_interactive/css/interactive.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sec_interactive/css/report.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sec_interactive/css/print.css' %}" media="print" />
<link rel="stylesheet" type="text/css" href="{% static 'sec_interactive/css/xbrlViewerStyle.css' %}" />
<style type="text/css">li.octave {border-top: 1px solid black;}</style>
<!--[if lt IE 8]>
<style type="text/css">
li.accordion a {display:inline-block;}
li.accordion a {display:block;}
</style>
<![endif]-->



<script type="text/javascript" language="javascript">
var InstanceReportXslt = "/include/InstanceReport.xslt";

function loadXSLDoc(url) {
    var doc;
    var jqxhr=$.ajax({type: "GET",
    url: url,
    async: false});

    // code for IE
    if (window.ActiveXObject || "ActiveXObject" in window) {
        doc = new ActiveXObject("Msxml2.FreeThreadedDOMDocument.3.0");
        doc.loadXML(jqxhr.responseText);
    }

    // code for other browsers
    else if (document.implementation && document.implementation.createDocument) {
        doc=document.implementation.createDocument("","",null);
        doc.async=true;
        doc = jqxhr.responseXML.documentElement;
    }
    return doc;
}

function fixSrcAttr(src) {
    var url_path = "/Archives/edgar/data/320193/000032019320000096/";
    var uri = src.substr(0,5);
    // No change is needed if the 'src' attribute contains an embedded image
    if (uri == 'data:') {
        return src;
    }
    // Absolute URL on EDGAR website is unchanged
    var idx = src.lastIndexOf('https://s3.amazonaws.com/archives.sec.gov/edgar/data/')
    if (idx > -1) {
        return src;
    } // For all other URLs use only basename component
    var idx = src.lastIndexOf('/');
    if (idx > -1) {
        src = src.substring(idx+1,src.length);
    }
    return url_path + src;
}

function add_accounts_editor(replace=0)
{
   var elm = document.getElementsByClassName("report")[0]
   elms = elm.getElementsByTagName("tr")
   for (let e of elms)
   {
      if(e.children[0].tagName.toLowerCase() == "th")
      {
          //alert(e.children[0].outerHTML)
          if(e.children[0].getAttribute("class") == "tl")
          {
                var s = e.children[0].children[0].children[0].innerHTML.toLowerCase()
                if( (s.search("INCOME".toLowerCase()) > 0) || (s.search("OPERATIONS".toLowerCase()) > 0) )
                // || (s.search("FLOWS".toLowerCase()) > 0)
                {
                 type_='2'
                } else if ( (s.search("BALANCE".toLowerCase()) > 0) || (s.search("Position".toLowerCase()) > 0) )
                {
                  type_='1'
                } else
                {
                  type_ = "-1"
                }
                var select_accounts = get_select_accounts(vObj["reporting_year"], vObj["ticker"], type=type_)
                // function in _xbrl_data.html
            if(replace==0)
            {
                var td = document.createElement("td")
                td.setAttribute("style", "text-align: center");
                td.innerHTML = '<button onclick="save_industry_default(event)">Save as Industry Default</button>'
                e.appendChild(td)
            }
         }
      } else
      {
            if(replace==1)
            {
             e.removeChild(e.lastElementChild)
            }
            var td = document.createElement("td")
            e.appendChild(td);

            s_ = e.firstElementChild.firstElementChild.getAttribute("onclick")
            if(s_.search("Abstract") > 0 )
            {
              td.innerHTML = "<span></span>" ;
              continue ;
            }

            td.innerHTML = select_accounts
            var a = e.children[0].children[0]
            onclick_ = a.getAttribute("onclick")
            l = onclick_.split("'")
            l=l[1]
            l=l.split("_")
            var os = td.children[0].children;
            var i;
            for (i = 0; i < os.length; i++) {
               ma = os[i].getAttribute("ma");
               if (ma == l[2]) {
                    td.children[0].value = os[i].getAttribute("value");
                    select_accounts = td.children[0].cloneNode(true);
                    select_accounts.children[i].setAttribute("hidden", "hidden")
                    select_accounts = select_accounts.outerHTML
                    break;
               }
            }
      }
   }
}

function save_industry_default(event)
{

 alert("save")

      $.post("{% url 'corporatevaluation:save_industry_default' %}",
        {
          ticker: vObj["ticker"],
          year: vObj["reporting_year"],
          sic: vObj["sic_code"]
        },
        function(data){
            alert(data['status'])
        });
}

function getReport(url, xsl_url) {
// alert('getReport: ' + url + ' ' + xsl_url)
if (xsl_url == null) { xsl_url = InstanceReportXslt; }
var ext = url.substring(url.lastIndexOf('.')+1, url.length);
    if (ext == 'htm') {
      $.post("{% url 'corporatevaluation:get_r' %}",
        {
          url_r: url,
        },
        function(data){
            data = data['html']
            var idx = data.indexOf('<TEXT>');
            if (idx > -1) {
            data = data.substring(idx+6,data.length);
            idx = data.indexOf('</TEXT>');
                if ( idx > -1) {
                data = data.substring(0,idx);
                }
            }
            jQuery('#reportDiv').append(data)
            .find('img').attr('src', function(i, val) { return fixSrcAttr(val);}).end();
            add_accounts_editor()
        });
    } else {

    alert(url)

    $.ajax({
        type: "GET",
        url: url,
        dataType: "text",
        async: false,
        success: function(data) {
            data = data.replace(/^\s+|\s+$/g, ''); // leading or trailing whitespace causes problems
            var path="/" + url.substring(1, url.lastIndexOf('/')+1);
            // code for IE
            if (window.ActiveXObject || "ActiveXObject" in window) {
                xsl_doc = loadXSLDoc(xsl_url)
                var xslt = new ActiveXObject("Msxml2.XSLTemplate.3.0");
                xslt.stylesheet = xsl_doc;
                var xslproc = xslt.createProcessor();
                var doc = new ActiveXObject("Msxml2.FreeThreadedDOMDocument.3.0");
                doc.loadXML(data);
                xslproc.input = doc;
                xslproc.addParameter("source", path );
                xslproc.addParameter("asPage", "true" );
                xslproc.transform();
                // Find all images and prepend the base URL to the src attribute
                jQuery('#reportDiv').append(jQuery(xslproc.output)
                .find('img')
                .attr('src', function(i, val) {
                return fixSrcAttr(val);
                }).end());
            }
            // code for other browsers
            else if (document.implementation && document.implementation.createDocument) {
                xsltProcessor=new XSLTProcessor();
                xsltProcessor.importStylesheet(loadXSLDoc(xsl_url));
                xsltProcessor.setParameter(null,"source",path);
                xsltProcessor.setParameter(null,"asPage","true");
                parser = new DOMParser();
                xmlDoc = parser.parseFromString(data, "text/xml");
                var rpt = xsltProcessor.transformToFragment(xmlDoc, document);
                document.getElementById("reportDiv").appendChild(rpt);
                FixNotesForGeckoWebkit( document.getElementById( 'reportDiv' ) );
                // Find all images and prepend the base URL to the src attribute
                jQuery('#reportDiv').find('img')
                .attr('src', function(i, val) {
                return fixSrcAttr(val);
                });
            } else {
                alert('Your browser cannot handle this script');
            }
        }
    });
  }
}

// Start sec
function get_sec(url) {
    console.log("get_sec: ", url)
    var elm = document.getElementById('navigation_table')
    elm.innerHTML = 'In Process Downloading Data.   Please wait';
    var data = vObj["sec_company_data"][vObj["ticker"]][vObj["filing_year"]]
    if (data)
    {
      console.log("get_sec 1: ", 'data already downloaded')
      process_get_sec(data)
    } else
    {
        $.post("{% url 'corporatevaluation:get_sec' %}",
            {
              url: url,
            },
            function(data){
                console.log("get_sec 2: ", 'data not yet downloaded')
                vObj["sec_company_data"][vObj["ticker"]][vObj["filing_year"]] = data
                process_get_sec(data)
        });
    }
}

function process_get_sec(data)
{
    //alert('process_get_sec')
    var elm = document.getElementById('navigation_table')
    elm.innerHTML = 'In Process Downloading Data.   Please wait';
    var evt = new Event("click", {bubbles: true});sm.TabObjects["sec"].tabTitle.dispatchEvent(evt);
    elm.innerHTML = data['table']
    accMenu()  // in the sec tab
}

function highlight(link) {
    var parent = document.getElementById( 'menu' );
    var links = parent.getElementsByTagName( 'a' );

    for (var i = 0; i < links.length; i++){
            if (links[i].className == 'xbrlviewer') {
            if (links[i] == link) {
            link.style.background = "#C1CDCD";
            } else {
                links[i].style.background = "#F5F5EB";
            }
        }
    }
}

function loadReport(idx) {
    if (window.XMLHttpRequest || window.ActiveXObject || "ActiveXObject" in window) {
        clearReportDiv();
        xsl_url = null;
        var last_r = vObj["sec_company_data"][vObj["ticker"]][vObj["filing_year"]]['last_r']
        if (idx == last_r) {
            highlightAllMenuItems();
            jQuery.ajaxSetup({async:false});
            for (var i=1; i<=last_r; i++) {
                if (i < last_r) {
                    rr = vObj["xbrl_data"][vObj["filing_year"]]["r_link"]+String(i)+".htm"
                    getReport(rr, xsl_url);
                    var li = document.getElementById('r'+idx);
                    if (li) { li.parentNode.style.display='block';}
                } else { break;}
            }
        } else
        {
            rr = vObj["xbrl_data"][vObj["filing_year"]]["r_link"]+String(idx)+".htm"
            getReport(rr, xsl_url);
            var li = document.getElementById('r'+idx);
            if (li) {li.parentNode.style.display='block'; }
        }
        window.scrollTo(0,0);
    } else { alert('Your browser cannot handle this script');}
}

// end sec

function clearReportDiv() {
// code for IE
    if (window.ActiveXObject || "ActiveXObject" in window) {
        document.getElementById("reportDiv").innerHTML='';
    }
    else if (document.implementation && document.implementation.createDocument) {
        x = document.getElementById("reportDiv").childNodes;
        for (i=x.length-1;i>-1;i--) {
            node = document.getElementById("reportDiv").childNodes[i];
            if (node) {document.getElementById("reportDiv").removeChild(node);}
        }
    }
}




//the parameter 'div' represents <div id="reportDiv">
function FixNotesForGeckoWebkit( div ){
    //textContent is only found in "other" browsers
    //if it exists, search it for our table - there should only be one
    if( div.textContent ){
        var tables = div.getElementsByTagName( 'table' );
        if( tables.length ){
            //loop through the tables
            for( var t = 0; t < tables.length; t++ ){
                var cells = tables[t].getElementsByTagName( 'td' );
                //loop through the cells, checking for class="text" which indicates some kind of text content - this includes HTML for notes
                for( var i = 0; i < cells.length; i++ ){
                    var curCell = cells[ i ];
                    if( curCell.className == 'text' ){
                        //<td class="text" found - now check if this HTML had already been rendered - if so, we should not attempt to render it again
                        var nodes = curCell.getElementsByTagName( '*' );
                        if( nodes.length <= 1 ){
                            //no "nodes" found so perform a secondary check that we have text which resembles HTML
                            nodes = curCell.textContent.match( /<\/?[a-zA-Z]{1}\w*[^>]*>/g );
                            if( nodes && nodes.length ){
                                //this text does resemble HTML, use the textContent as HTML and that will convert the text to HTML content.
                                curCell.innerHTML = curCell.textContent;
                            }
                        }
                    }
                }
            }
        }
    }
}

</script>

<div id="valuationsetup_xbrl_data"></div>
<div id="navigation_table"></div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/npm/cookie/js.cookie.min.js' %}"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>


<script>
var Show={};Show.LastAR=null,Show.showAR=function(a,r,w){if(Show.LastAR)Show.hideAR();var e=a;while(e&&e.nodeName!='TABLE')e=e.nextSibling;if(!e||e.nodeName!='TABLE'){var ref=((window)?w.document:document).getElementById(r);if(ref){e=ref.cloneNode(!0);
e.removeAttribute('id');a.parentNode.appendChild(e)}}
if(e)e.style.display='block';Show.LastAR=e};Show.hideAR=function(){Show.LastAR.style.display='none'};Show.toggleNext=function(a){var e=a;while(e.nodeName!='DIV')e=e.nextSibling;if(!e.style){}else if(!e.style.display){}else{var d,p_;if(e.style.display=='none'){d='block';p='-'}else{d='none';p='+'}
e.style.display=d;if(a.textContent){a.textContent=p+a.textContent.substring(1)}else{a.innerText=p+a.innerText.substring(1)}}}

function accMenu(){$('#menu ul').hide();$('#menu li a').click(function(){$(this).next().slideToggle('normal')});$('#menu li ul li a.xbrlviewer').first().css('background-color','#C1CDCD');$('#menu_cat0').trigger('click')}
function unHighlightAllMenuItems()
{$('#menu li ul li a.xbrlviewer').css('background-color','#F5F5EB')}
function highlightAllMenuItems()
{$('#menu li ul li a.xbrlviewer').css('background-color','#C1CDCD')}
</script>
<script>
    function onchange_account(event)
    {
      var elm = event.target
      var elmp = elm.parentNode.parentNode
      var a = elmp.children[0].children[0]
      onclick_ = a.getAttribute("onclick")
      l = onclick_.split("'")
      l=l[1]
      l=l.split("_")
      $.post("{% url 'corporatevaluation:onchange_account' %}",
        {
          accounting_standard: l[1],
          match_account: l[2],
          account_id: elm.value,
          ticker: vObj["ticker"],
          year: vObj["reporting_year"],
          sic: vObj["sic_code"]
        },
        function(data){
            if (data['status'] == "ok")
            {
              vObj["sec_company_data"][vObj["ticker"]]['company_info']['data'][vObj["reporting_year"]]['matching_accounts']=data['matching_accounts']
              add_accounts_editor(replace=1)
            }
        });
    }
</script>

</div>