{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="xbrl_data" class="tabcontent data">
</div>

<!--  pull data  -->
<style>
.duration_account
{
 color: red;
}
.instant_account
{
 color: blue;
}
</style>
<script>
// Pick a company
// --------------
function toCommas(value) {return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
function removeCommas(value) {return value.replace(/,/g, '')}

function xbrl_get_account(sk, y, cd)
{
  return "<td><input class='value' id='"+sk+"_" + y + "' account='"+sk+"' year='" + y + "' type='text' value='" + toCommas(cd[y][sk][0]) + "' onchange='input_valuation(event)'></td>"
}


function get_select_accounts(year='2020', ticker='', type='1')
{
   //var s = vObj["sec_company_data"][ticker]['company_info']['data'][year]['select_accounts']
   //if(s) {return s}

   var data = vObj["sec_company_data"][ticker]['company_info']['data'][year]['matching_accounts']
   var s = "<select onchange='onchange_account(event)'><option value='-1'>------------</option>"
   for (var key in data){
     if (type == "-1" || data[key][3]==type)
     {
         s += "<option value='" + data[key][2] + "' ma='"+data[key][1]+"'"
           if(data[key][3]=="2"){
            s+=" class='duration_account' "
           } else
           {
            s+=" class='instant_account' "
           }
         s += ">" + data[key][0] + "</option>"
     }
   }
   s += "</select>"
    //  alert(s)
   vObj["sec_company_data"][ticker]['company_info']['data'][year]['select_accounts'] = s
   return s;
}


function xbrl_set_data()
{
     // need to change to_year as a function of today.

    var from_year = 2012
    var to_year = 2021
    var cd = vObj["xbrl_data"]
    ss = {}
    s_title = "<thead><tr id='fs_years_xbrl_data'><th>Accounts</th>"
    for ( var y = from_year; y < to_year; y++) {
       s_title += "<th><a id='sec_xbrl_data_"+y+"' href='#' onclick='get_xbrl_view(event)'>"+String(y)+"</a></th>"
    }
    // alert(s_title)


    var s_ = ""
    var matching_data2020 = cd['2020']['matching_accounts']
    for (var key in matching_data2020)
    {
      s_ += "("+key+"-"+matching_data2020[key][0]+"-"+matching_data2020[key][2] + ") : "
      ss[key] = "<td>" +matching_data2020[key][0]+ "</td>"
      for ( var y = from_year; y < to_year; y++) {

      for(let z in cd)
      {
        if (cd[z]['dei']['documentfiscalyearfocus'] == y.toString())
        {
          y_data = vObj["xbrl_data"][z]
          break;
        }
      }
            var matching_data = y_data['matching_accounts']
            nn = ""
            if(matching_data[key])
            {
            //alert(matching_data[key])
            //alert(matching_data[key][1])

            // alert(y_data['year_data'])
              nn = y_data['year_data'][matching_data[key][1].toLowerCase()]
            }
            ss[key] += "<td>" + nn + "</td>"
            //alert(ss[key])
      }
    }

    //alert(s_)

    ss_ = ""
    for( var k in ss)
    {
      ss_ += "<tr>" +ss[k]+ "</tr>"
    }
    //alert(ss_)
    s = "<table>" + s_title + "</tr></thead>" + ss_ + "</tbody></table>"
    sm.TabObjects["xbrl_data"].tabDoc.innerHTML = s
    var evt = new Event("click", {bubbles: true});sm.TabObjects["xbrl_data"].tabTitle.dispatchEvent(evt);
}

// update data
function xbrl_input_valuation(event)
{
 e = event.target
 // alert(e.outerHTML)
 year_ = e.getAttribute("year")
 account_ = e.getAttribute("account")
 amount_= removeCommas(e.value)
 e.value = toCommas(amount_)
 ticker_ = vObj["ticker"]
 $.post('{% url "corporatevaluation:update_account" %}',
      {
        year: year_,
        account: account_,
        ticker: ticker_,
        amount: amount_,
      },
      function(data){
        alert('data updated to: ' + data['result'])
      }
    );
}
</script>