{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="xbrl_data" class="tabcontent data">
</div>

<!-- xbrl_data -->
<!-- pull data -->
<style>
.duration_account
{
 color: red;
}
.instant_account
{
 color: blue;
}
</style>

<!-- xbrl_get_account -->
<script>
function xbrl_get_account(sk, y, cd)
{return "<td><input class='value' id='"+sk+"_"+y+"' account='"+sk+"' year='"+y+"' type='text' value='"+toCommas(cd[y][sk][0]) + "' onchange='input_valuation(event)'></td>"}
</script>

<!-- get_select_accounts -->
<script>
function get_select_accounts(year='2020', ticker='', type='1')
{
   //var s = vObj["sec_company_data"][ticker]['company_info']['data'][year]['select_accounts']
   //if(s) {return s}
   //var data = vObj["sec_company_data"][ticker]['company_info']['data'][year]['matching_accounts']

   var data = vObj["xbrl_data"][year]['matching_accounts']
   // onchange_account is in _sec file
   var s = "<select onchange='onchange_account(event)' onfocus='onfocus_account(event)'><option value='-1'>------------</option>"
   for (var key in data){account_properties=get_account_properties(key);
     if(type=="-1"||account_properties[1]==type)
     {s+="<option value='"+key+"' ma='"+data[key][0].toLowerCase()+"'";
       if(account_properties[1]=="2"){s+=" class='duration_account' "} else{s+=" class='instant_account' "};
         s += ">"+account_properties[0]+"</option>"
     }
   }
   s += "</select>"; vObj["xbrl_data"][year]['select_accounts']=s;return s;
}
</script>

<!-- _xbrl_data D4000 -->
<!-- xbrl_set_data() -->
<script>
function xbrl_set_data()
{
    var ys=get_reporting_years();var from_year=ys[0];var to_year=ys[1]
    var ticker_ = vObj["company_info"]["ticker"]; ss = {}
    s_yf_http = "https:\/\/finance.yahoo.com\/quote\/" + ticker_ + "\/financials?p=" + ticker_
    s_title = "<thead><tr id='fs_years_xbrl_data'><th>Accounts (<a id='fy_link' href='"+ s_yf_http +"' target='_blank'> Yahoo Finance</a>)</th>"

    for(var y=from_year;y<to_year;y++){y_data = get_data_for_reporting_year(y);
       s_title += "<th><a id='sec_xbrl_data_"+y+"' target='_blank' style='color:white' "
       s_title += "view_link='"+y_data['view_link']+"' href='"+y_data['view_link']
       s_title += "' filing_year='"+get_filling_year(y)+"' r_link='"+y_data['r_link']+"'>"+String(y)+"</a></th>"
    }
    for (var key_statement in vObj["xbrl_statements"])
    {for (var key in vObj["xbrl_statements"][key_statement]['accounts'])
     {acc_ = vObj["xbrl_statements"][key_statement]['accounts'][key];ss[key]="<td>"+acc_[0]+"</td>";
      for (var y=from_year;y<to_year;y++){y_data=get_data_for_reporting_year(y);nn=get_account_value_from_data(y_data,key,"");
       ss[key] += "<td id='"+y.toString()+"_"+key.toString()+"' style='padding-right:5px;text-align: right;'>" + toCommas(nn) + "</td>";
    }}}
    ss_="";for(var k in ss){ss_+="<tr>"+ss[k]+"</tr>"};var s="<table>"+s_title+"</tr></thead>"+ss_+"</tbody></table><br/><br/><br/>";
    sm.TabObjects["xbrl_data"].tabDoc.innerHTML = s
    //var evt = new Event("click", {bubbles: true});sm.TabObjects["xbrl_data"].tabTitle.dispatchEvent(evt);
}
</script>

<!-- balance_accounts() -->
<script>
function balance_accounts()
{//var cd = JSON.parse(JSON.stringify(vObj["xbrl_data"]));
 var ys=get_reporting_years();var from_year=ys[0];var to_year=ys[1]
 for (var y=from_year;y<to_year;y++)
 { y_data=get_data_for_reporting_year(y);if(y_data==-1){continue;}
   var matching_data=y_data['matching_accounts'];
   for(k in sm.accounting_equality)
   { var num=0;var nums=[];
     for (k1 in sm.accounting_equality[k])
     {var nn=0;var key=sm.accounting_equality[k][k1]['account'];
       try{if(matching_data[key][0].toLowerCase()!=''){nn=get_account_value_from_data(y_data,key,0)}} catch(er){}
       if(nn!=0){num+=1;nums.push(k1);};sm.accounting_equality[k][k1]['data']=nn
     }
     if(num==2)
     {if(nums.includes("3"))
      {nums = nums.filter(item => item !== '3');
       var nn_=(3-Number(nums[0])).toString();
       sm.accounting_equality[k][nn_]['data']=Number(sm.accounting_equality[k]['3']['data'])-Number(sm.accounting_equality[k][nums[0].toString()]['data']);
       var account_order=sm.accounting_equality[k][nn_]['account'];
       var id=y.toString()+"_"+account_order.toString();
       var elm=document.getElementById(id);
       elm.innerHTML=toCommas(Math.round(100*sm.accounting_equality[k][nn_]['data'])/100);
       elm.setAttribute("style", elm.getAttribute("style") + ";color:red;");
       try{matching_data[account_order]=[String(account_order), 'us-gaap']} catch(er){alert(er)};
       y_data['year_data'][account_order]=sm.accounting_equality[k][nn_]['data'];
      } else
      {sm.accounting_equality[k]['3']['data']=Number(sm.accounting_equality[k]['2']['data'])+Number(sm.accounting_equality[k]['1']['data'])
       var account_order=sm.accounting_equality[k]['3']['account'];
       var id=y.toString()+"_"+account_order.toString();
       var elm=document.getElementById(id);
       elm.innerHTML=toCommas(Math.round(100*sm.accounting_equality[k]['3']['data'])/100);
       elm.setAttribute("style", elm.getAttribute("style") + ";color:red;");
       matching_data[account_order]=[(account_order).toString(), 'us-gaap'];
       y_data['year_data'][account_order]=sm.accounting_equality[k]['3']['data']
      }
     }
   }

// return ;

   for(var h in sm.accounts_structure){sm.accounts_structure[h]['total']=0}
   for (var key in matching_data)
   { var nn=0;try{if(matching_data[key][0].toLowerCase()!=''){var nn_=y_data['year_data'][key];if(!isNaN(nn_)){nn=Number(nn_)}}} catch(er){}
     for(k in sm.accounts_structure)
     {var l=sm.accounts_structure[k]['star_other'];
      if(Number(key)<Number(k) && Number(key)>=Number(l[0]) && Number(key)!=Number(l[1])){sm.accounts_structure[k]['total']+=nn}}
     }
     for(var k in sm.accounts_structure)
     {
       var l=sm.accounts_structure[k]['star_other'];
       var id=y.toString()+"_"+l[1].toString();var nn=0;
       try{if(matching_data[k][0].toLowerCase()!=''){nn_=y_data['year_data'][k];if(!isNaN(nn_)){nn=Number(nn_)}}
        if(nn==0){continue;}
        t=sm.accounts_structure[k]['total'];
        u=nn-t;elm=document.getElementById(id);elm.innerHTML = toCommas(Math.round(1000*u)/1000);
        elm.setAttribute("style", elm.getAttribute("style") + ";color:red;");
       } catch (er) {}
     }
     for(var key in matching_data){var id=y.toString()+"_"+key.toString();var elm=document.getElementById(id);if(elm.innerHTML=="undefined"){elm.innerHTML="";}}
   }
}

</script>

<!-- xbrl_input_valuation  -->
<script>

// update data
function xbrl_input_valuation(event)
{
 e = event.target
 // alert(e.outerHTML)
 year_ = e.getAttribute("year")
 account_ = e.getAttribute("account")
 amount_= removeCommas(e.value)
 e.value = toCommas(amount_)
 ticker_ = vObj["ticker"]
 $.post('{% url "corporatevaluation:update_account" %}',
      {
        year: year_,
        account: account_,
        ticker: ticker_,
        amount: amount_,
      },
      function(data){
        alert('data updated to: ' + data['result'])
      }
    );
}
</script>

