{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

<div id="xbrl_data" class="tabcontent data">
</div>

<!--  pull data  -->
<style>
.duration_account
{
 color: red;
}
.instant_account
{
 color: blue;
}
</style>
<script>
// Pick a company
// --------------
function removeCommas(value) {return value.replace(/,/g, '')}

function xbrl_get_account(sk, y, cd)
{
  return "<td><input class='value' id='"+sk+"_" + y + "' account='"+sk+"' year='" + y + "' type='text' value='" + toCommas(cd[y][sk][0]) + "' onchange='input_valuation(event)'></td>"
}


function get_select_accounts(year='2020', ticker='', type='1')
{
   //var s = vObj["sec_company_data"][ticker]['company_info']['data'][year]['select_accounts']
   //if(s) {return s}

   var data = vObj["sec_company_data"][ticker]['company_info']['data'][year]['matching_accounts']
   var s = "<select onchange='onchange_account(event)'><option value='-1'>------------</option>"
   for (var key in data){
     if (type == "-1" || data[key][3]==type)
     {
         s += "<option value='" + data[key][2] + "' ma='"+data[key][1]+"'"
           if(data[key][3]=="2"){
            s+=" class='duration_account' "
           } else
           {
            s+=" class='instant_account' "
           }
         s += ">" + data[key][0] + "</option>"
     }
   }
   s += "</select>"
    //  alert(s)
   vObj["sec_company_data"][ticker]['company_info']['data'][year]['select_accounts'] = s
   return s;
}


function balance_accounts()
{
    var cd = JSON.parse(JSON.stringify(vObj["xbrl_data"]));
    var from_year = 2012;
    var to_year = 2021;
    ys = ""; zn = 0; zz = "";
    for(let z in cd)
    {
     z_ = cd[z]['dei']['documentfiscalyearfocus']
     if (zn != 0) { zz = ", " }; ys += zz + z_; zn += 1;
    }
    eval('z_max = Math.max('+ ys + ')');  eval('z_min = Math.min('+ ys + ')');
    from_year = Math.max(z_min, from_year) ; to_year = z_max+1;
    var matching_data2020 = cd['2020']['matching_accounts']
    for ( var y = from_year; y < to_year; y++)
    {
            for(let z in cd)
            {
                if (cd[z]['dei']['documentfiscalyearfocus'] == y.toString()) {y_data = vObj["xbrl_data"][z]; break;}
            }
            var matching_data = y_data['matching_accounts'];
            var matching_data = y_data['matching_accounts'];
            for (k in sm.accounting_equality)
            {
                var num = 0; nums = []
                for (k1 in sm.accounting_equality[k])
                {
                      var key = sm.accounting_equality[k][k1]['account']
                      //
                      nn = 0
                      try {
                            nn_ = y_data['year_data'][matching_data[key][1].toLowerCase()]
                            //alert('nn_  1')
                            //alert(nn_)
                            if(!isNaN(nn_)){nn = Number(nn_)}
                      } catch (er) {}
                      //
                      if (nn > 0)
                      {
                       num += 1;
                       nums.push(k1)
                      }
                      sm.accounting_equality[k][k1]['data'] = nn
                }
               // alert('num')
              //  alert(num)
               // alert('nums')
              //  alert(nums)

                if (num == 2)
                {
                  if (nums.includes("3"))
                  {
                    nums = nums.filter(item => item !== '3')
                    nn_ = (3-Number(nums[0])).toString()
                    sm.accounting_equality[k][nn_]['data'] = Number(sm.accounting_equality[k]['3']['data']) - Number(sm.accounting_equality[k][nums[0].toString()]['data'])

                    var account_order = sm.accounting_equality[k][nn_]['account']
                    var id=y.toString()+"_"+account_order.toString()
                        elm = document.getElementById(id)
                        elm.innerHTML = toCommas(sm.accounting_equality[k][nn_]['data'])
                        elm.setAttribute("style", elm.getAttribute("style") + ";color:red;")

                     y_data['year_data'][matching_data[account_order.toString()][1].toLowerCase()] = sm.accounting_equality[k][nn_]['data']


                    //alert(sm.accounting_equality[k][nn_]['data'])
                  } else
                  {
                    sm.accounting_equality[k]['3']['data'] = Number(sm.accounting_equality[k]['2']['data']) + Number(sm.accounting_equality[k]['1']['data'])
                    var account_order = sm.accounting_equality[k]['3']['account']
                    var id=y.toString()+"_"+account_order.toString()
                        elm = document.getElementById(id)
                        elm.innerHTML = toCommas(sm.accounting_equality[k]['3']['data'])
                        elm.setAttribute("style", elm.getAttribute("style") + ";color:red;")

                     y_data['year_data'][matching_data[account_order.toString()][1].toLowerCase()] = sm.accounting_equality[k][nn_]['data']

                  }
                }
            }
    }


    var cd = JSON.parse(JSON.stringify(vObj["xbrl_data"]));
    // need to change to_year as a function of today.
    var from_year = 2012;
    var to_year = 2021;
    ys = ""; zn = 0; zz = "";
    for(let z in cd)
    {
     z_ = cd[z]['dei']['documentfiscalyearfocus']
     if (zn != 0) { zz = ", " }; ys += zz + z_; zn += 1;
    }
    eval('z_max = Math.max('+ ys + ')');  eval('z_min = Math.min('+ ys + ')');
    from_year = Math.max(z_min, from_year) ; to_year = z_max+1;

  var matching_data2020 = cd['2020']['matching_accounts']
  for ( var y = from_year; y < to_year; y++) {
        for(let z in cd)
        {
          if (cd[z]['dei']['documentfiscalyearfocus'] == y.toString())
          {
            y_data = vObj["xbrl_data"][z]
            break;
          }
        }

          for( k in sm.accounts_structure)
          {
           sm.accounts_structure[k]['total'] = 0
          }

          var matching_data = y_data['matching_accounts'];
          for (var key in matching_data2020)
          {
            nn = 0
            try {
             nn_ = y_data['year_data'][matching_data[key][1].toLowerCase()]
             if(!isNaN(nn_)){nn = Number(nn_)}
            } catch (er) {}

                    for (k in sm.accounts_structure)
                    {
                      var l = sm.accounts_structure[k]['star_other']
                      if (Number(key) < Number(k) && Number(key) >= Number(l[0]) && Number(key) != Number(l[1]) )
                      {
                        sm.accounts_structure[k]['total'] += nn
                      }
                    }
          }

          for( k in sm.accounts_structure)
          {
             var l = sm.accounts_structure[k]['star_other']
                var id=y.toString()+"_"+l[1].toString()
                  nn = 0
                  try {
                        nn_ = y_data['year_data'][matching_data[k][1].toLowerCase()]
                        if(!isNaN(nn_)){nn = Number(nn_)}
                        if (nn == 0)
                        {
                          continue;
                        }
                        t = sm.accounts_structure[k]['total']
                       // alert(t)
                        u = nn - t
                        elm = document.getElementById(id)
                        elm.innerHTML = toCommas(u)
                        elm.setAttribute("style", elm.getAttribute("style") + ";color:red;")
                  } catch (er) {}
          }
  }
}


function xbrl_set_data()
{
     // need to change to_year as a function of today.
    var from_year = 2012;
    var to_year = 2021;
    var cd = vObj["xbrl_data"];
    ys = ""; zn = 0; zz = "";
    for(let z in cd)
    {
       z_ = cd[z]['dei']['documentfiscalyearfocus']
       if (zn != 0) { zz = ", " }; ys += zz + z_; zn += 1;
    }
    eval('z_max = Math.max('+ ys + ')');  eval('z_min = Math.min('+ ys + ')');
    from_year = Math.max(z_min, from_year) ; to_year = z_max+1;

    ss = {}
    s_title = "<thead><tr id='fs_years_xbrl_data'><th>Accounts</th>"
    for ( var y = from_year; y < to_year; y++) {
       s_title += "<th><a id='sec_xbrl_data_"+y+"' href='#' onclick='get_xbrl_view(event)'>"+String(y)+"</a></th>"
    }
    // alert(s_title)

    var s_ = ""
    var matching_data2020 = cd['2020']['matching_accounts']
    for (var key in matching_data2020)
    {
      s_ += "("+key+"-"+matching_data2020[key][0]+"-"+matching_data2020[key][2] + ") : "
      ss[key] = "<td>" +matching_data2020[key][0]+ "</td>"
      for ( var y = from_year; y < to_year; y++) {

          for(let z in cd)
          {
            if (cd[z]['dei']['documentfiscalyearfocus'] == y.toString())
            {
              y_data = vObj["xbrl_data"][z]
              break;
            }
          }
            var matching_data = y_data['matching_accounts']
            nn = ""
            if(matching_data[key])
            {
            //alert(matching_data[key])
            //alert(matching_data[key][1])

             //alert(y_data['year_data'])

              nn = y_data['year_data'][matching_data[key][1].toLowerCase()]
            }
            ss[key] += "<td id='"+y.toString()+"_"+key.toString()+"' style='padding-right:5px;text-align: right;'>" + toCommas(nn) + "</td>"
            //alert(ss[key])
      }
    }

    //alert(s_)
    ss_ = ""
    for( var k in ss)
    {
      ss_ += "<tr>" +ss[k]+ "</tr>"
    }
    //alert(ss_)
    s = "<table>" + s_title + "</tr></thead>" + ss_ + "</tbody></table>"
    sm.TabObjects["xbrl_data"].tabDoc.innerHTML = s
    var evt = new Event("click", {bubbles: true});sm.TabObjects["xbrl_data"].tabTitle.dispatchEvent(evt);
}

// update data
function xbrl_input_valuation(event)
{
 e = event.target
 // alert(e.outerHTML)
 year_ = e.getAttribute("year")
 account_ = e.getAttribute("account")
 amount_= removeCommas(e.value)
 e.value = toCommas(amount_)
 ticker_ = vObj["ticker"]
 $.post('{% url "corporatevaluation:update_account" %}',
      {
        year: year_,
        account: account_,
        ticker: ticker_,
        amount: amount_,
      },
      function(data){
        alert('data updated to: ' + data['result'])
      }
    );
}
</script>