{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

<div id="valuationsetup" class="tabcontent">
    <table>
        <tr>
            <td onclick="activate_obj_function_pivot(event)">
                <button style="width: 80px;">GetData</button>
            </td>
        </tr>
    </table>

<div id="wdr-component"></div>

<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet"/>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

<!-- https://www.webdatarocks.com/doc/ -->
<!--  activate_obj_function_pivot  -->
<script>
function activate_obj_function_pivot(event)
{
 var e=event.target;
 var obj_="FinancialAnalysis";var fun_="get_pivot_data";var dic_={};

 dic_['ticker']=document.getElementById('search_ticker').value;

 $.post('{% url "corporatevaluation:activate_obj_function" %}',
      {obj: obj_, fun: fun_, dic: JSON.stringify(dic_),},
      function(data){
                data_=[]
                for(var i=0; i<data['data']['data']['time_id'].length;i++)
                {
                 d_ = {"Company": data['data']['data']["companies_dic"][data['data']['data']['company_id'][i]],
                       "Time": data['data']['data']['time_id'][i],
                       "Account": get_account_properties(data['data']['data']['account_id'][i])[0],
                       "Amount": data['data']['data']['amount'][i]}
                 data_.push(d_)
                }
                var pivot = new WebDataRocks({
                    container: "#wdr-component",
                    toolbar: true,
                    report: {dataSource: {data:data_}}
                });
            }
    );
}
</script>

</div>

