{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
<div id="valuationadmin" class="tabcontent">
<!--    Accounting -->
    <table>
        <tr>
            <td>
                <table>
                    <tr><td>
                        <label for="myCheck">Update Data For Companies:</label>
                        <input type="checkbox" id="update_data_for_companies" onclick="update_data_for_companies()">
                    </td></tr>
                    <tr><td>
                        <label for="myCheck">Update Quarterly Data:</label>
                        <input type="checkbox" id="update_data_for_companiesq" onclick="update_data_for_companiesq(event)">
                    </td></tr>
                </table><br/>
            </td>
            <td>
                <h4>Fill cube data</h4>
                <table>
                    <tr>
                        <td onclick="analysis_setup_attribute(event)">
                            <button fun="update_chart_of_accounts" style="width: 50px;">CofA</button>
                            <button fun="update_companies" style="width: 50px;">Com</button>
                            <button fun="update_time" style="width: 50px;">Time</button>
                            <button fun="update_fact_table" style="width: 50px;">Fact</button>
                            <button fun="get_data_for_ticker" style="width: 50px;">Pivot</button>
                        </td><td>
                            <input id="bi_attribute_name" type="text" value="ticker" size="4" placeholder="attribute name"/>
                            <input id="bi_attribute_value" type="text" value="AAPL" size="4" placeholder="attribute value"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div id="result_message">result_message</div>
            </td>
        </tr>
    </table>

    <hr/>
    <h5>Options</h5>
    <table>
        <tr>
            <td>
                <h4>TDAmeriTrade</h4>
                <table>
                    <tbody obj="TDAmeriTrade" attributes_id="tdameritrade_attributes" message_id="result_message_tdameritrade">
                    <tr id="buttons" onclick="activate_obj_function(event)">
                        <td><button fun="get_prices" style="width: 60px;">hdata</button>
                            <button fun="get_quote" style="width: 60px;">quote</button>
                            <button fun="get_quotes" style="width: 60px;">quotes</button>
                            <button fun="run_stream_options_data" style="width: 65px;">workers</button>
                            <button fun="activate_streaming" style="width: 110px;">Option Stream</button>
                            <button fun="place_order_test" style="width: 160px;">place_order test</button>
                            <button fun="account_test" style="width: 160px;">account test</button>
                        </td>
                    </tr>
                    <tr id="tdameritrade_attributes">
                        <td>
                            <input type="text" value="ticker" size="4" placeholder="name"/>
                            <input type="text" value="AAPL" size="4" placeholder="value"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="result_message_tdameritrade"></div><br/>
            </td>
            <td>
                <h4>Option Chain</h4>
                <table>
                    <tr>
                        <td>
                            <button onclick="tdameritrade_setup_w_attribute(event)" fun="get_complete_option_chain" style="width: 250px;">
                                get_option_chain
                            </button><br/>
                            <input id="attribute_name_option_chain" type="text" value="ticker" size="4" placeholder="Enter attribute name"/>
                            <input id="attribute_value_option_chain" type="text" value="AMZN" size="4" placeholder="Enter value"/>
                        </td>
                    </tr>
                </table>
                <div id="result_message_option_chain"></div>
            </td>
            <td>
                <h4>Streamed Stock Prices</h4>
                <table>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="test" style="width: 250px;">MovePricesToArchive(test)</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Truncate: <button onclick="admin_setup(event)" fun="test1" style="width: 110px;">Prices</button>
                            <button onclick="admin_setup(event)" fun="test2" style="width: 110px;">PricesArchive</button><br/>

                            <button onclick="admin_setup_truncate(event)" fun="truncate_table" attribute="m" attribute_value="5"
                                    style="width: 122px;">Truncate Table</button>
                            <input id="table_name" type="text" value="" size="20" placeholder="name" aria-placeholder="Enter table name"/>
                        </td>
                    </tr>

                    <!--  in calculation tab
                    <tr>
                        <td>
                            <button onclick="get_risk_premium()" style="width: 250px;">Get Risk Premium</button>
                        </td>
                    </tr>
                     -->
                </table>
            </td>
        </tr>
    </table>

    <hr/>
    <h5>Setup for Corporate Valuation</h5>
    <table>
        <tr>
            <td>
                <h3>Stage 1 - Regions, Countries, Moodys, ROBIC</h3>
                <table>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="load_tax_rates_by_country_year" style="width: 250px;">Load Tax Rates By Country, Year</button>
                            <br/><span>from https://files.taxfoundation.org/20210125115215/io1980-2020-Corporate-Tax-Rates-Around-the-World.csv.xlsx</span>
                            <br/><span>load data to XBRLRegion XBRLCountry XBRLCountryYearData</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="load_country_premium" style="width: 250px;">Load Country Premium</button>
                            <br/><span>Update XBRLSPMoodys XBRLRegionYearData</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="update_region_risk_premium" style="width: 250px;">Update Region Risk Premium</button>
                            <br/><span>Update risk premium in the above tables</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="update_data" style="width: 250px;">update_data</button>
                            <br/><span>update_data (for RBOIC. need to clean it)</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <h3>Stage 2 get list of companies</h3>
                <table>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="set_sic_code" style="width: 250px;">(1) Load SIC Codes from SEC</button>
                            <span> update XBRLMainIndustryInfo and XBRLIndustryInfo</span>
                            <br/>
                            <a href="https://en.wikipedia.org/wiki/Standard_Industrial_Classification" targte="_blank">
                                https://en.wikipedia.org/wiki/Standard_Industrial_Classificatio
                            </a>
                            <br/>
                            <a href="https://www.sec.gov/corpfin/division-of-corporation-finance-standard-industrial-classification-sic-code-list" targte="_blank">
                                https://www.sec.gov/corpfin/division-of-corporation-finance-standard-industrial-classification-sic-code-list
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="get_all_companies" style="width: 250px;">(2) Get All Companies</button>
                            <span> update XBRLCompanyInfoInProcess</span>
                            <br/>
                            <a href="https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A" targte="_blank">
                                Using the link: https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A    with all letters A-Z
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="clean_data_for_all_companies" style="width: 250px;">(3) Clean data for all companies</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="copy_processed_companies" style="width: 250px;">(4) Copy processed companies</button><br/>
                            Copy data from XBRLCompanyInfoInProcess table to XBRLCompanyInfo table
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="get_duplications_tickers" style="width: 250px;">(5) get_duplications_tickers</button><br/>
                            Remove duplicate companies that trade in more than one exchange.
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <h3>Stage 3 - SP500</h3>
                <table>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="load_sp_returns" style="width: 300px;">Load S&P 500 Returns</button>
                            <br/><span>from file histretSP to table XBRLHistoricalReturnsSP</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="get_earning_forecast_sp500" style="width: 250px;">
                                get_earning_forecast_sp500</button>
                            <br/><span>can run it to find companies in S&P500 not in XBRPCompanyInfo(see error 345)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="upload_old_earning_forecast_sp500" style="width: 300px;">
                                upload_old_earning_forecast_sp500
                            </button>
                            <br/><span>Update tables XBRLSPStatistics XBRLSPEarningForecast (need the .txt files)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="admin_setup(event)" fun="update_statistics" style="width: 300px;">updateStatics</button>
                            <span>update table XBRLSPStatistics</span>
                        </td>
                    </tr>

                </table>
            </td>
            <td>
                <h3>Stage 4</h3>
                <table>
                    <tr>
                        <td>
                            <button onclick="admin_setup_attribute(event)" fun="get_announcement_time" attribute="m" attribute_value="5"
                                    style="width: 122px;">annuacTime</button>
                            <input id="attribute_name" type="text" value="m" size="4" placeholder="name"/>
                            <input id="attribute_value" type="text" value="9" size="4" placeholder="value"/>
                            <br/><span>update table XBRLSPStatistics (time of announcements After or before trade)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="tdameritrade_setup_w_attribute(event)" fun="update_options_statistics" style="width: 122px;">
                                UpOptionsStat</button>
                            <br/><span>update table XBRLSPStatistics (options values)</span>
                        </td>
                    </tr>
                </table>
                <div id="result_message_options"></div><br/>
            </td>
        </tr>
    </table>

    <hr/>
    <h4>AcademyCityXBRL</h4>
    <table>
        <tbody obj="AcademyCityXBRL" attributes_id="tdameritrade_attributes" message_id="result_message_academycityxbrl">
        <tr id="buttons" onclick="activate_obj_function(event)">
            <td>
                <button fun="run_all_pages" style="width: 120px;">run_all_pages</button><br/>
                This is an example of how to use the object GetAllUrlsProcessed.<br/>
                To download several pages at the same time and process them.
            </td>
        </tr>
        <tr id="tdameritrade_attributes">
            <td>
                <input type="text" value="ticker" size="4" placeholder="name"/>
                <input type="text" value="AAPL" size="4" placeholder="value"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="result_message_academycityxbrl"></div><br/>

    <hr/>
    <table>
        <tr>
            <td>
                <button onclick="tdameritrade_setup_w_attribute(event)" fun="get_option_statistics_for_ticker" style="width: 122px;">
                            optionForTicker</button>
            </td>
        </tr>
                <tr>
                    <td>
                        <button onclick="tdameritrade_setup_w_attribute(event)" fun="get_quote" style="width: 122px;">get_quote</button>
                    </td>
                </tr>
    </table>

    <hr/>
    <h5>S&P Functions</h5>
    <table>
        <tr>
            <td>
                <button onclick="admin_setup(event)" fun="get_earning_forecast_sp500_view" style="width: 250px;">
                    get_earning_forecast_sp500_view
                </button>
            </td>
        </tr>
<!--
        <tr>
            <td>
                <button onclick="admin_setup(event)" fun="test1" style="width: 250px;">test1</button>
            </td>
        </tr>
-->
<!--  Get data for s&p500 forcast/actual
        <tr>
            <td>
                <button onclick="admin_setup(event)" fun="get_sp500" style="width: 250px;">get_sp500</button>
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="admin_setup(event)" fun="get_ticker_prices" style="width: 250px;">get_ticker_prices</button>
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="admin_setup(event)" fun="test" style="width: 250px;">test</button>
            </td>
        </tr>
-->


    </table>


<!--
        <tr>
            <td>
                <button onclick="calculate_all()" style="width: 250px;">calculate_all()</button>
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="v_analysis()" style="width: 250px;">V Analysis</button>
            </td>
        </tr>
    in the xbrl_data tab
    <button onclick="balance_accounts()" >balance_accounts()</button>
    <br/>
    <hr/>
   in the fsa tab
    <button onclick="ratio_analysis()" >ratio_analysis()</button>
    <button onclick="xbrl_set_data()" >Create data Table</button>
    <br/>
    <br/>
    <button onclick="generate_select_accounts('2020', 'AAPL')" >generate_select_accounts - 2020</button>
-->
    <br/><br/><br/><br/>
</div>

<script>
function update_data_for_companies() {
  var checkBox = document.getElementById("update_data_for_companies");
  if (checkBox.checked == true){
    vObj["is_update"] = "yes";
  } else {
    vObj["is_update"] = "no";
  }
}
function update_data_for_companiesq() {
  var checkBox = document.getElementById("update_data_for_companiesq");
  if (checkBox.checked == true){
    vObj["is_updateq"] = "yes";
  } else {
    vObj["is_updateq"] = "no";
  }
}
</script>
<!--  tdameritrade_setup_w_attribute -->
<script>
function tdameritrade_setup_w_attribute(event)
{
 e = event.target; fun_ = e.getAttribute("fun");
 var attribute_ = document.getElementById("attribute_name_option_chain").value;
 attribute_value_ = document.getElementById("attribute_value_option_chain").value;
 //var ss = prompt("are you sure you want to run function: " + fun_ + "\nType Yes to run", 'No')
 //if(ss == '' || ss == 'No') { return;}
 message_div = document.getElementById("result_message_option_chain")
 message_div.innerHTML = 'In process .. '
 $.post('{% url "corporatevaluation:tdameritrade_setup_w_attribute" %}',
      {
        fun: fun_,
        attribute: attribute_,
        attribute_value: attribute_value_
      },
      function(data){
        for (k in data)
        {
          if (k == 'status')
           {
            message_div.innerHTML = 'Process done with status: ' + data['status']
           }
           else
           {
                vObj[k] = data[k];
                // alert(k + " : " + data[k])
                // alert(vObj[k])
           }
        }
      }
    );
}
</script>
<!-- admin_setup(event) -->
<script>
function admin_setup(event)
{
 e = event.target; fun_ = e.getAttribute("fun");
 message_div = document.getElementById("result_message")
 message_div.innerHTML = 'In process .. '

 var ss = prompt("are you sure you want to run function: " + fun_ + "\nType Yes to run", 'No')
 if(ss == '' || ss == 'No') { return;}

 $.post('{% url "corporatevaluation:admin_setup" %}',
      {
        fun: fun_,
      },
      function(data){
        for (k in data)
        {
          if (k == 'status')
           {
            message_div.innerHTML = 'Process done with status: ' + data['status']
           }
           else
           {
                // alert(k + " : " + data[k])
                vObj[k] = data[k];
                // alert(vObj[k])
           }
        }
      }
    );
}
</script>

<!-- analysis_setup_attribute(event) -->
<script>
function analysis_setup_attribute(event)
{var e=event.target;var fun_=e.getAttribute("fun");
 message_div=document.getElementById("result_message");message_div.innerHTML='In process .. '
 try{
      var attribute_name_=document.getElementById("bi_attribute_name").value;
      var attribute_value_ = document.getElementById("bi_attribute_value").value;
      $.post('{% url "corporatevaluation:analysis_setup_attribute" %}',
          {
            fun: fun_,
            attribute: attribute_name_,
            attribute_value: attribute_value_
          },
          function(data){
            for (k in data)
            {
              if (k == 'status'){message_div.innerHTML='Process done with status: '+data['status']}
              else
              {
                    alert(k + " : " + data[k])
                    vObj[k] = data[k];
                    // alert(vObj[k])
              }
            }
          }
        );
 } catch(er){}
}
</script>

<!-- activate_obj_function -->
<script>
function activate_obj_function(event)
{
 var e=event.target;var p=e.parentNode.parentNode;var g=e.parentNode.parentNode.parentNode;
 // alert(e.outerHTML);alert(p.outerHTML);alert(g.outerHTML)
 var attributes=document.getElementById(g.getAttribute("attributes_id"))
 var message_id_=g.getAttribute("message_id")

 var obj_=g.getAttribute("obj");
 var fun_=e.getAttribute("fun");
 var dic_={};
 //alert(attributes.outerHTML)

 for(var k=0;k<attributes.children.length;k++)
 {dic_[attributes.children[k].children[0].value]=attributes.children[k].children[1].value}

  var message_div = document.getElementById(message_id_);message_div.innerHTML = 'In process for: '+dic_['ticker']
 //for(k in dic_){alert(k);alert(dic_[k]);}

 $.post('{% url "corporatevaluation:activate_obj_function" %}',
      {obj: obj_, fun: fun_, dic: JSON.stringify(dic_),},
      function(data){
        for (k in data)
        {
          if (k == 'status')
           {
            message_div.innerHTML = 'Process done with status: ' + data['status']
           }
           else
           {
                //alert(k + " : " + JSON.stringify(data[k]))
                //vObj[k] = data[k];
                // alert(vObj[k])
           }
        }
      }
    );

}
</script>

<!-- admin_setup_truncate(event) -->
<script>
function admin_setup_truncate(event)
{
 var e=event.target;var fun_=e.getAttribute("fun");
 message_div=document.getElementById("result_message");message_div.innerHTML='In process .. '
 try{
      var attribute_name_=document.getElementById("table_name").value;
      var attribute_value_ = "";
      alert(attribute_name_)
      alert(fun_)

      $.post('{% url "corporatevaluation:admin_setup_attribute" %}',
          {
            fun: fun_,
            attribute: attribute_name_,
            attribute_value: attribute_value_
          },
          function(data){
              message_div.innerHTML='Process done with status: '+data['status']
          }
        );
 } catch(er){}
}
</script>


<!-- admin_setup_attribute -->
<script>
function admin_setup_attribute(event)
{
 var e=event.target;
 try{
      var attribute_name_=document.getElementById("attribute_name").value;
      if (attribute_name_=="")
      {
         var attribute_ = e.getAttribute("attribute");
         var attribute_value_ = e.getAttribute("attribute_value");
      } else
      {
         var attribute_ = attribute_name_;
         var attribute_value_ = document.getElementById("attribute_value").value;
      }
 } catch(er){alert(er)}
 var fun_ = e.getAttribute("fun");
 message_div = document.getElementById("result_message")
 message_div.innerHTML = 'In process .. '
 $.post('{% url "corporatevaluation:admin_setup_attribute" %}',
      {
        fun: fun_,
        attribute: attribute_,
        attribute_value: attribute_value_
      },
      function(data){
        for (k in data)
        {
          if (k == 'status')
           {
            message_div.innerHTML = 'Process done with status: ' + data['status']
           }
           else
           {
                // alert(k + " : " + data[k])
                vObj[k] = data[k];
                // alert(vObj[k])
           }
        }
      }
    );
}
</script>


<script>
function truncate_table(event)
{

alert(1111)
 var e = event.target; table_ = e.innerHTML;
 var message_div = document.getElementById("result_message"); message_div.innerHTML = 'In process .. '

 $.post('{% url "corporatevaluation:admin_setup_attribute" %}',
      {
        table: fun_,
      },
      function(data){
        for (k in data)
        {
          if (k == 'status')
           {
            message_div.innerHTML = 'Process done with status: ' + data['status']
           }
           else
           {
                // alert(k + " : " + data[k])
                vObj[k] = data[k];
                // alert(vObj[k])
           }
        }
      }
    );
}
</script>
