{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

<div id="valuationtodo" class="container tabcontent">
    <button>Add Task</button>
<table class="data">
    <thead>
        <tr>
            <th>Priority</th><th>subject</th><th>description</th><th>is_active</th>
        </tr>
    </thead>
{% for todo in todolist %}
        <tr>
            <td><input value="{{todo.priority}}" size="4" /></td>
            <td><textarea rows="3" cols="40">{{todo.subject}}</textarea></td>
            <td><textarea rows="3" cols="80">{{todo.description}}</textarea></td>
            <td><input type="checkbox" checked="{{todo.is_active}}" /></td>
        </tr>
{% endfor %}
</table>
</div>