{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

<div id="valuationsetup" class="tabcontent">
    <button onclick="get_data_ticker(event)">Get Data</button>
    <br/>
    <br/>
    <div id="valuationsetup_xbrl_data"></div>
</div>


<script>


function get_data_ticker(event)
{
 // e = event.target
 var d = document.getElementById('valuationsetup_xbrl_data')
 ticker_ = vObj["ticker"]
 // alert(ticker_)
 $.post('{% url "corporatevaluation:get_data_ticker" %}',
      {
        ticker: ticker_,
        accounting_principle: 'us-gaap',
      },
      function(data){

        vObj["company_info"] = data['company_info'];
        vObj["xbrl_data"] = data['data'];

        //alert(vObj["xbrl_data"]['2020']['dei']['entityregistrantname'])
        s = '<table><tr>'
        sv = '<tr>'

        for (y in vObj["xbrl_data"])
        {
         //alert(y)
         ry = vObj["xbrl_data"][y]['dei']['documentfiscalyearfocus']
         //alert(ry)

         s += '<th>' + ry + '</th>'
         sv += '<td><a href="'+ vObj["xbrl_data"][y]['view_link'] + '" target="_blank">View: ' + ry + '</a></td>'
         try{
             var t = document.getElementById("xbrl_data_"+ry)

             //alert(t.outerHTML)

             t.setAttribute("view_link", vObj["xbrl_data"][y]['view_link'])
             t.setAttribute("r_link", vObj["xbrl_data"][y]['r_link'])
             vObj["filing_year"] = y
             t.setAttribute("style", "color:white")

             //alert(t.outerHTML)

           } catch (er) {}
         }
         s += '</tr>' + sv + '</tr></table>'
             //alert(s)
            d.innerHTML = s
            //alert(d.outerHTML)
      }
    );
}

</script>