{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

<div id="ValuationSetup" class="tab-pane fade">
    {% if LANGUAGE_CODE == "ar" %}
    <div dir="RTL"style="text-align: right;" class="row">
    {% else %}
    <div dir="LTR" class="row">
    {% endif%}

      <div id="valuation_setup_nav" class="column left" style="background-color:#80b3ff;"
           onclick="click_main_game_setup(event, '{{game.slug}}')">

      </div>

      <div id="valuation_setup_content" class="column right" style="background-color:#b3d1ff;">
      </div>

    </div>
</div>

