{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

{% if LANGUAGE_CODE == "ar" %}
<div dir="RTL" style="text-align: right;" class="row">
{% else %}
<div dir="LTR" class="row">
{% endif%}
  <div id="{{name}}_nav" class="column left" style="background-color:#80b3ff;" nav_prefix="{{name}}"
       onclick="click_main_{{name}}(event)">
        <table id="{{name}}" style="width:200px;">
              <tbody id="{{name}}_sub_tabs_">
                    <tr>
                        <td>#</td>
                        <td id='{{name}}_{{name}}' class="pointer" type="{{name}}" obj_id="{{name}}">
                          {{name}}
                        </td>
                    </tr>
              </tbody>
        </table>
  </div>
  <div id="{{name}}_content" class="column right" style="background-color:#b3d1ff;">
  </div>
</div>