{% extends "core/advanced_tabs.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

{% block add_style %}
    <link rel='stylesheet' id='rich_text'  href="{% static 'css/academycity/other/ai.css' %}" media='all' />
{% endblock add_style %}


{% block add_script_head %}
    <script src="{% static 'js/academycity/core/face-api.js' %}"></script>
    <script src="{% static 'js/academycity/core/tfjs.js' %}"></script>
<!--<script defer src="https://cdn.jsdelivr.net/npm/face-api.js"></script>-->


{% endblock add_script_head %}


{% block add_script %}
<script>
        function loadModels() {
            console.log("Loading models...");
            const modelUri = '/static/js/academycity/ml//models';
            return Promise.all([
                faceapi.nets.ssdMobilenetv1.loadFromUri(modelUri),
                faceapi.nets.faceLandmark68Net.loadFromUri(modelUri),
                faceapi.nets.faceRecognitionNet.loadFromUri(modelUri)
            ]).then(() => {
                console.log("Models loaded.");
            }).catch(error => {
                console.error("Error loading models:", error);
            });
        }




<!--        document.getElementById('imageUpload').addEventListener('change', function(event) {-->
<!--            const image = new Image();-->
<!--            image.src = URL.createObjectURL(event.target.files[0]);-->

<!--            image.onload = function() {-->
<!--                console.log("Image loaded:", image);-->

<!--                // Draw the image on the image canvas-->
<!--                drawImageOnCanvas(image);-->

<!--                // Wait for the models to load, then detect faces-->
<!--                detectFaces(image);-->
<!--            };-->

<!--            image.onerror = function() {-->
<!--                console.error("Image failed to load.");-->
<!--            };-->
<!--        });-->

        loadModels();
    </script>
{% endblock add_script %}