<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candle</title>
    <style>
        button{
            padding : 8px;
            border-radius : 10px;
            background-color : grey;
        }

        button a{
            font-size : 15px;
            color : orange;
        }
    </style>
</head>
<body>
<button>
    <a href="{% url 'simba:home' %}">Home</a>
</button>
<h3>How to create <u>Candle Stick</u> object for stock prices in Django?</h3>
<div>
    <ol>
        <li><a href="https://www.chartjs.org/chartjs-chart-financial/" target="blank_">chartjs-chart-financial</a></li>
        <li><a href="https://github.com/chartjs/chartjs-chart-financial/tree/master/docs" target="blank_">source for the exampl</a></li>
        <li><a href="https://github.com/chartjs/chartjs-chart-financial" target="blank_">github</a></li>
        <li><a href="https://www.chartjs.org/docs/latest/" target="blank_">Chart.js docs</a> for more details.</li>
        <li><a href="https://www.chartjs3.com/docs/chart/" target="blank_">Chart.js - Chart.</li>

        <li><a href="https://youtu.be/Pru1dPE0ubI" target="blank_">Candlestick Chart in Chart JS 3 | chartjs-financial-plugin</li>
        <li><a href="https://youtu.be/n8j80VKJS-0" target="blank_">Options Symbols and Chains for Beginners</li>

        <li><a href="https://www.youtube.com/results?search_query=+https://www.youtube.com/results?search_query=+The+Options+Industry+Council+(OIC)" target="blank_">
        Videos by the Options Industry Council(OIC)</li>

    </ol>
</div>
</body>
</html>