{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
<nav class="topbar topbar--over" id="main-menu">
   <div class="topbar__container">
                <div class="topbar__brand">
                    <button class="topbar__hamburger" data-target="main-menu" aria-label="menu" aria-expanded="false">&#8801;</button>
                    <a href="/" style="margin-bottom:-30px ">
                        <img src="{{ institution_obj.logo_image.url }}" width="72px" height="100px" alt="">
                    </a>
                </div>
                <div class="topbar__menu">
                    <ul class="topbar__list">
                        <li class="topbar__item topbar__item--sibling"><a href="#news">News</a></li>
                        <li class="topbar__item topbar__item--sibling"><a href="#courses">Courses</a></li>
                        <li class="topbar__item topbar__item--sibling"><a href="#program">Programs</a></li>
                        <li class="topbar__item topbar__item--sibling"><a href="#service">Services</a></li>
                        <li class="topbar__item topbar__item--sibling"><a href="#persons">Persons</a></li>
                    </ul>
                </div>
                <div class="topbar__menu topbar__menu--aside" style="margin-right:100px;  ">
                    <ul class="topbar__list topbar__list--controls">

                    {% if user.is_authenticated %}
                        <li class="topbar__item topbar__item--login richie-react richie-react--user-login" data-props='{"profileUrls": {&quot;dashboard&quot;: {&quot;label&quot;: &quot;Dashboard&quot;, &quot;action&quot;: &quot;https://edx.richie.education/dashboard&quot;}, &quot;profile&quot;: {&quot;label&quot;: &quot;Profile&quot;, &quot;action&quot;: &quot;https://edx.richie.education/u/(username)&quot;}, &quot;account&quot;: {&quot;label&quot;: &quot;Account&quot;, &quot;action&quot;: &quot;https://edx.richie.education/account/settings&quot;}}}'>
                            <div class="user-login">
                                <a href="/ml" class="user-login__btn user-login__btn--sign-up">
                                    Free Artificial Intelligence course
                                </a>
                                <a href="{% url 'users:logout' %}" class="user-login__btn user-login__btn--sign-up">
                                    {% trans "Logout" %}
                                </a>
                                <a href="{% url 'users:my_account' %}" class="user-login__btn user-login__btn--log-in">
                                    <svg aria-hidden="true" role="img" class="icon"><use xlink:href="#icon-login"></use></svg>
                                    {% trans "My Account" %}
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="topbar__item topbar__item--login richie-react richie-react--user-login" >
                            <div class="user-login">
                                <a href="{% url 'users:login' %}" class="user-login__btn user-login__btn--log-in">
                                    <svg aria-hidden="true" role="img" class="icon"><use xlink:href="#icon-login"></use></svg>
                                    {% trans "Log in/Sign up" %}
                                </a>
                            </div>
                        </li>
                    {% endif %}

                        <li class="topbar__item topbar__item--cta"><a href="{% url 'users:contact_us' %}">Contact us</a></li>
                    </ul>
                    {% language_chooser "menu/language_chooser.html" %}
                </div>
   </div>
</nav>