<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>

    .tab button:hover {

     background-color: red;
     transition: 0.3s;
     }

     .tab button.active {
     background-color: purple;

     }
</style>
</head>
<body>
<div id="tabs_container" class="tab">
</div>

<div id="tab_contents">
</div>

<!-- makebtndiv = function(tab_name, tab_id, tab_txt) -->
<script>
    var i;
    makebtndiv = function(tab_name, tab_id, tab_txt)
    {
      var btn = document.createElement("button");
      btn.setAttribute("id", "tab_title_"+tab_id);
      btn.setAttribute("tab_id", tab_id);
      btn.setAttribute("class", "tablinks");
      btn.setAttribute("city_name", tab_name);
      btn.innerHTML = tab_name
      //alert(btn.outerHTML)
      btn.onclick = function open_city(event)
      {
        var elm = event.target
        var tab_id = elm.getAttribute("tab_id")

            var tabcontent = document.getElementsByClassName("tabcontent");
            for(i=0; i<tabcontent.length; i++){
            //alert(tabcontent[i].outerHTML)
            tabcontent[i].style.display = 'none';
            }
            var tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
         document.getElementById("tab_div_"+tab_id).style.display = "block";
         event.currentTarget.className += " active";  }
      var elm_tabs_container = document.getElementById("tabs_container")
      elm_tabs_container.appendChild(btn)

      var div = document.createElement("div");
      div.setAttribute("id", "tab_div_"+tab_id);
      div.setAttribute("tab_id", tab_id);
      div.setAttribute("class", "tabcontent");
      div.innerHTML = tab_txt
      var elm_tab_contents = document.getElementById("tab_contents")
      elm_tab_contents.appendChild(div)
    }
</script>

<script>

var dic = {"1": {"tab_name": "Kampala", "tab_text": "I love Kampala"},
           "2": {"tab_name": "Lira", "tab_text": "I love Lira"},
           "3": {"tab_name": "Netany", "tab_text": "My Home town"}}

        dic["4"] = {"tab_name": "usa", "tab_text": "My Home city"}
alert(dic)
for(i in dic)
{
    makebtndiv(tab_name=dic[i]["tab_name"], tab_id=i, tab_txt=dic[i]["tab_text"])
}
</script>

<script>
    document.getElementById("tab_title_1").click();
</script>
</body>
</html>