{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="{% static 'js/academycity/core/liongold.js' %}"></script>
</head>
<body id="main_body">


<script>
    var body_ = document.getElementById("main_body");
    var list_of_wins = [["asio", "red"], ["opio","white"], ["michael","blue"], ["amos","yellow"]];
    var awm = new acWinManager(body_, list_of_wins)
</script>


</body>
</html>