{% extends "academycity/base_sidenave.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

{% block sidebar_nav %}
  {% if LANGUAGE_CODE == "ar" %}
    <div dir="RTL" class="list-group border-0 card text-center text-md-right float-right">
  {% else %}
    <div dir="LTR" class="list-group border-0 card text-center text-md-left">
  {% endif%}

    <div align="center" style="margin: 10px 0px 10px 0px;">
    {% thumbnail course.image '200x136' crop subject_location=course.image.subject_location as course_photo %}
        <img src="{{ course_photo.url }}" width="{{ course_photo.width }}" height="{{ course_photo.height }}"
             alt="{{ course.name }}">
    </div>

    {% if user.is_staff %}
        <h6>
        <a href="/" class="add_section_sub badge badge-pill badge-primary"
           data-mn="section" data-pmn="course" data-pmid="{{ course.id }}" data-on="Need to change" >
            Add Section
        </a>
        </h6>
    {% endif %}


    <div><br/>

    {% for section in course.course_sections.all|dictsort:"order" %}
        <a id="section_{{ section.id }}" href="#menu1sub{{ section.id }}" data-id="{{ section.id }}"
           class="list-group-item click_section" is_send="1" is_shrink="0" is_send_stop="0"
           data-toggle="collapse" aria-expanded="false" style="background-color:gray;">
            <span class="w3-badge w3-blue">{{ section.order }}</span>&nbsp;
        {{ section.name }}
        </a>

        <div class="collapse" id="menu1sub{{ section.id }}">

            {% if user.is_staff %}
                <a href="/" class="add_section_sub badge badge-pill badge-primary" style="size:5"
                   data-mn="subsection" data-pmn="section" data-pmid="{{ section.id }}" data-on="Need to change" >
                    Add Sub Section
                </a>
            {% endif %}

            {% for sub_section in section.section_sub_sections.all|dictsort:"order" %}
                <a id="sub_section_{{ sub_section.id }}" href="/" data-id="{{ sub_section.id }}" class="plugin list-group-item"
                   data-parent="#menu1sub{{ section.id }}" data-slug="{{ sub_section.slug }}" is_send = "1">
                    <span class="w3-badge w3-small w3-red">{{ sub_section.order }}</span>&nbsp; {{ sub_section }}</a>

                {% if user.is_staff %}
                    <a href="{{ sub_section.get_absolute_url }}"> &nbsp; <i class="fa fa-user-circle" ></i></a>
                {% endif %}
            {% endfor %}
            {% if user.is_staff %}
            <!--
                &nbsp;&nbsp;&nbsp;<a href="/" class="test badge badge-pill badge-primary" style="size:5"
                   data-type="staff" data-id="{{ section.id }}" >
                    Edit test questions
                </a>
            -->
            &nbsp;&nbsp;&nbsp;<a href="{{ section.get_edit_test_url }}" style="size:5"
                                 class="badge badge-pill badge-primary">Edit test questions</a>
            {% else %}
                &nbsp;&nbsp;&nbsp;<a href="/" class="test badge badge-pill badge-primary" style="size:15"
                                     data-id="{{ section.id }}" >Take a test</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <br/>
    <br/>
    <br/>
    <!--    https://fontawesome.com/v4.7.0/examples/    -->
</div>

{% endblock sidebar_nav %}

{% block sidebar_main %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  width:70px;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 2px;
}

td.no_border {
  border: 0px solid black;
  text-align: left;
  padding: 2px;
}

.border-lb {border: 1px solid black; border-width: 0 0 0 1px;}
.border-rb {border: 1px solid black; border-width: 0 1px 0 0;}
.border-bb {border: 1px solid black; border-width: 0 0 1px 0;}

td.border_right {
  border-left: 1px solid black;
  text-align: left;
  padding: 2px;
}

td.num {text-align: right;}

input {
  text-align: right;
  width:70px;
}

thead {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: lightblue;
}
</style>
            <a id="course_sidenave_onoff" class="course_sidenave_onoff" href="#" data-target="#sidebar"
               data-toggle="collapse" aria-expanded="false" style="color:black">
                <i id="course_sidenave_onoff_icon" class="fa fa-navicon fa-2x py-2 p-1"></i>
            </a>&nbsp;&nbsp;&nbsp;
            <a href="{{ course.syllabus.get_absolute_url }}">
                <span><font size="5" color="coral">
                <i class="fa fa-shield fa-rotate-270"></i>
                    {% trans "Syllabus" %}
                </font></span></a>
            </a>
            &nbsp;&nbsp;
            <a href="{{ course.get_blog_post_list_url }}">
                <span><font size="5" color="lightblue">
                <i class="fa fa-envelope"></i>
                    {% trans "Blog" %}
                </font></span></a>
            </a>&nbsp;&nbsp;
            <a href="{% url 'courses:home' %}">
                <span><font size="5" color="lightblue">
                 <img src="https://www.freeiconspng.com/uploads/courses-icon-6.png"
                      width="30" alt="Courses.ico" />
                    {% trans "Back to courses" %}
                </font>
                </span>
            </a>


<!--        <div id="join">-->
<!--            <h1>Join a video session</h1>-->
<!--            <form onsubmit="joinSession(); return false">-->
<!--                <p>-->
<!--                    <label>Session:</label>-->
<!--                    <input type="text" id="sessionId" value="SessionA" required>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <input type="submit" value="JOIN">-->
<!--                </p>-->
<!--            </form>-->
<!--        </div>-->

<!--        <div id="session" style="display: none;">-->
<!--            <h1 id="session-header"></h1>-->
<!--            <input type="button" onclick="leaveSession()" value="LEAVE">-->
<!--            <div>-->
<!--                <div id="publisher"><h3>YOU</h3></div>-->
<!--                <div id="subscriber"><h3>OTHERS</h3></div>-->
<!--            </div>-->
<!--        </div>-->


        {% if LANGUAGE_CODE == "ar" %}
            <div dir="RTL" class="page-header">
        {% else %}
            <div dir="LTR" class="page-header">
        {% endif%}
                <h3 style="font-family: 'Times New Roman', Times, serif;">{% render_model course "name" %}:
                    <span style="color:lightblue">
                    {% render_model section "name" %}
                    </span>
                </h3>
                   <!--
                      {% render_placeholder course.description %}
                      -->
            </div>

            <div>
                {% if sub_section %}
                <div class="col-md-6 col-sm-4 col-lg-12" id="plugin">
                      <h4 style="color:lightblue">{% render_model sub_section "name" %}</h4>
                      {% render_placeholder sub_section.description %}
                </div>
                {% else %}

                &nbsp;&nbsp;&nbsp;<a href="{% url 'elearning:add_question' section.slug %}"
                                     class="badge badge-pill badge-primary" style="size:15">
                    Add Question
                    </a>

                    <div style="width: 100%; height: 600px; overflow-y: scroll;">
                        {% get_current_language as LANGUAGE_CODE %}
                      {% for question in questions %}
                            {% if LANGUAGE_CODE == "ar" %}
                              <div class="col-md-6 col-sm-4 col-lg-12" id="plugin"
                                   style="text-align: right; margin: 0pt 20pt 0pt 0pt;">
                            {% else %}
                              <div class="col-md-6 col-sm-4 col-lg-12" id="plugin" >
                            {% endif%}
                            <h3><u>Question: {{ forloop.counter }}:
                            (<a href="{% url 'elearning:delete_question' question.id %}"
                                class="badge badge-pill badge-warning" style="size:15">
                                Delete
                            </a>)</u></h3>
                          {% render_placeholder question.question_text %}
                        &nbsp;&nbsp;&nbsp;<a href="{% url 'elearning:add_answer' question.id %}"
                                             class="badge badge-pill badge-primary" style="size:15">
                            Add answer
                            </a><br/>
                            {% for answer in question.answers.all %}
                              {% if answer.correct %}
                                <input class="correct" pkey="{{ answer.id }}" type="checkbox" checked />
                              {% else %}
                                <input class="correct" pkey="{{ answer.id }}" type="checkbox" />
                              {% endif %}
                              Answer: {{ forloop.counter }}:
                              (<a href="{% url 'elearning:delete_answer' answer.id %}"
                                  class="badge badge-pill badge-primary" style="size:15">Delete</a>)
                              <br/>
                              {% render_placeholder answer.answer_text %}
                            {% endfor %}
                        </div><br/>
                      {% endfor %}
                    </div>
                {% endif %}
            </div>
<span id="id_chat_room_name" chat_room_id="{{chat_room_id}}" chat_room_name="{{chat_room_name}}" userid="{{request.user.id}}"
      is_instructor="{{is_instructor}}"></span>
{% endblock sidebar_main %}


<!--  Good example
https://www.techiediaries.com/python-django-ajax/
https://api.jquery.com/category/ajax/
-->
{% block add_js_sub %}
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script src="{% static 'js/whiteboard_v1.js' %}"></script>
    <script src="{% static 'js/openvidu/app.js' %}"></script>
    <script src="{% static 'js/openvidu/openvidu-browser-2.16.0.js' %}"></script>
	<link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">
{% endblock add_js_sub %}

{% block domready %}


//------
var loc = window.location
// console.log("endpoint 200 (loc): ", loc)
var webStart = "ws://"
if (loc.protocol == "https:")
{webStart = "wss://"}

// console.log("endpoint 200 (webStart): ", webStart)

var pathname_ = loc.pathname.substring(3, 10000)
var lung_ = loc.pathname.substring(0, 3)
//console.log("endpoint 200 (lung_): ", lung_)
var e_chat_room_name = document.getElementById("id_chat_room_name")
var use_id = e_chat_room_name.getAttribute("userid")
var chat_room_id = e_chat_room_name.getAttribute("chat_room_id")
var is_instructor = e_chat_room_name.getAttribute("is_instructor")

var last_section_id;
var last_current_is_shrink;
var last_sub_section_id ;

window.onscroll = function() {
        msg_ = document.documentElement.scrollTop
        msg_ += ',' +document.documentElement.scrollLeft

        var dic_ = {'type': 'scroll_screens', 'message': msg_ , 'is_instructor':is_instructor}
        if(is_in_session == "True"){socket.send(JSON.stringify(dic_));}
}


if (is_instructor == "True")
{
  var main_ = document.getElementById('main_')
  var button_ = document.createElement("button");
  button_.innerHTML = "Start Session"
  button_.setAttribute("id", "start_session_button");
  main_.insertBefore(button_, main_.childNodes[10])
  button_.addEventListener("click", function(event){
        if(is_in_session == "False")
        {is_in_session = "True"; event.target.innerHTML = "Stop Session";
        } else { is_in_session = "False"; event.target.innerHTML = "Start Session"; }
    });

  var button_r = document.createElement("button");
  button_r.innerHTML = "Refresh Student's Screens"
  button_r.setAttribute("id", "start_session_button");
  main_.insertBefore(button_r, main_.childNodes[11])
  button_r.addEventListener("click", function(event){

        var elm_onoff = document.getElementById('course_sidenave_onoff')
        var course_sidenave_onoff_is_expanded = elm_onoff.getAttribute("aria-expanded")
        msg_ = course_sidenave_onoff_is_expanded
        msg_ += ',' + vi.win_frame.style.display +',' + wm.win_frame.style.display +',' + ct.win_frame.style.display
        msg_ += ',' +document.documentElement.scrollTop
        msg_ += ',' +document.documentElement.scrollLeft

        msg_ += ',' +ct.win_frame.style.top
        msg_ += ',' +ct.win_frame.style.left
        msg_ += ',' +ct.win_nav.style.top
        msg_ += ',' +vi.win_frame.style.top
        msg_ += ',' +vi.win_frame.style.left
        msg_ += ',' +vi.win_nav.style.top
        msg_ += ',' +wm.win_frame.style.top
        msg_ += ',' +wm.win_frame.style.left
        msg_ += ',' +wm.win_nav.style.top

        msg_ += ',' + last_section_id
        msg_ += ',' + last_current_is_shrink
        msg_ += ',' + last_sub_section_id

        var dic_ = {'type': 'refresh_students_screens', 'message': msg_ , 'is_instructor':is_instructor}
        if(is_in_session == "True"){socket.send(JSON.stringify(dic_));}

    });
}

var chat_room_name = e_chat_room_name.getAttribute("chat_room_name")
//console.log("endpoint 200 (loc.host): ", loc.host)
var endpoint = webStart + loc.host + lung_ + "/ws/chat/"+chat_room_id+"/"
console.log("endpoint 200", endpoint)

//------
try{
   var socket = new ReconnectingWebSocket(endpoint);
   console.log("is socket == null? if false socket is on: ", socket == null)
   // console.log("socket 310", socket)
} catch (err) {console.log("socket 321", err.message)}

socket.onmessage = function(e){
 var msg_ = JSON.parse(e.data)
 // onmove

 //console.log("onmessage - type : ", msg_.type)
 //console.log("onmessage - type : ", msg_.type)
 //console.log("onmessage - type : ", msg_.type)

 if(msg_.type == 'wm')
 {
  wm.duplicate_onmove(msg_.msg)
 } else if (msg_.type == 'wc')
 {
  // color changed
   wm.setDefaultColors(msg_.msg)
   wm.CurrentWhiteboardTab.ctx.strokeStyle = msg_.msg;
 } else if (msg_.type == 'wt')
 {
  // click on tab title
   var ct_ = wm.CurrentWhiteboardTab.tabTitle.getAttribute("id")
   //alert("wt -ct_: " + ct_ + " msg_.msg: " + msg_.msg)
   if(msg_.msg != ct_)
   {
     var event = new Event("click", {bubbles: false});
     elm_t = document.getElementById(msg_.msg);
     //alert('elm_t.outerHTML' + elm_t.outerHTML)
     elm_t.dispatchEvent(event)
   }
 } else if (msg_.type == 'add_white_board')
 {
  ll = msg_.msg.split(',')
  wm.duplicate_add_whiteboard(ll[0], ll[1])
 } else if (msg_.type == 'wsf')
 {
  // click on open or close whiteboard icon
   ll = msg_.msg.split(",")
   var s_ = ll[0] +'.set_acWinStat("'+ll[1]+'")';
   eval(s_)
 } else if (msg_.type == 'wp')
 {
  // click on open or close whiteboard icon
   wm.setWBPenEraserStat(msg_.msg)
 } else if (msg_.type == 'wfontsize')
 {
  // change the font size
  //alert(msg_.msg)
   wm.pen_eraser_size.value = msg_.msg
 } else if (msg_.type == 'change_sub_section')
 {
    var elm_ss = document.getElementById(msg_.msg)
    var event_click_sub_section = new Event("click", {bubbles: true});
    elm_ss.setAttribute("is_send", "0")
    elm_ss.dispatchEvent(event_click_sub_section)
    elm_ss.setAttribute("is_send", "1")
 } else if (msg_.type == 'change_section')
 {
    //alert('change_section from other side')
    ll = msg_.msg.split(",")
    var elm_ = document.getElementById("section_"+ll[0])
    var event_click_section = new Event("click", {bubbles: true});
    elm_.setAttribute("status", ll[1])
    elm_.setAttribute("is_send", "0")
    elm_.dispatchEvent(event_click_section)
 } else if (msg_.type == 'user_here')
 {
   //alert("user_here0:   " +msg_.user_call_id)
   var ss_name = 'sendLocalDesc_'+ msg_.user_call_id
   var ss_function = ss_name + '= function (desc) {vi.sendLocalDesc(desc, "'+ msg_.user_call_id + '", vi);}'
   eval(ss_function)
   vi.setReceiveConnection(msg_, vi, ss_name);
 } else if (msg_.type == 'ice candidate' || msg_.type == 'SDP')
 {
   var ss_name = 'sendLocalDesc_'+ msg_.user_call_id
   var ss_function = ss_name + '= function (desc) {vi.sendLocalDesc(desc, "'+ msg_.user_call_id + '", vi);}'
   eval(ss_function)
   vi.setResponseConnection(msg_, vi, ss_name)
 } else if (msg_.type == 'course_sidenave_onoff')
 {
    var elm1 = document.getElementById("course_sidenave_onoff")
    var status = msg_.msg
    var course_sidenave_onoff_is_expanded = elm1.getAttribute("aria-expanded")
    if(status == course_sidenave_onoff_is_expanded)
    {
      var event_click_section = new Event("click", {bubbles: true});
      elm1.dispatchEvent(event_click_section)
    }
 } else if (msg_.type == 'refresh_students_screens')
 {
   ll = msg_.msg.split(',')
   console.log("onmessage - type -- : ", ll[0])
   console.log("onmessage - is_instructor : ", msg_.is_instructor)
   // selector of nav --
   //-----------------
    var elm1 = document.getElementById("course_sidenave_onoff")
    var status = ll[0]
    var course_sidenave_onoff_is_expanded = elm1.getAttribute("aria-expanded")
    if(status != course_sidenave_onoff_is_expanded)
    {
      var event_click_section = new Event("click", {bubbles: true});
      elm1.dispatchEvent(event_click_section)
    }
   //------------------
   // selector --
   vi.set_acWinStat(ll[1])
   wm.set_acWinStat(ll[2])
   ct.set_acWinStat(ll[3])
   //------------------
	//window.moveTo(0, 0);
	//window.resizeTo(screen.width, screen.height)
   //------------------
   document.documentElement.scrollTop = ll[4]
   document.documentElement.scrollLeft = ll[5]
   //------------------
    ct.win_frame.style.top = ll[6]
    ct.win_frame.style.left = ll[7]
    ct.win_nav.style.top = ll[8]
   //------------------
    vi.win_frame.style.top = ll[9]
    vi.win_frame.style.left = ll[10]
    vi.win_nav.style.top = ll[11]
   //------------------
    wm.win_frame.style.top = ll[12]
    wm.win_frame.style.left = ll[13]
    wm.win_nav.style.top = ll[14]
   //------------------
    var elm_ = document.getElementById("section_"+ll[15])
    var event_click_section = new Event("click", {bubbles: true});
    elm_.setAttribute("status", ll[16])
    elm_.setAttribute("is_send", "0")
    elm_.dispatchEvent(event_click_section)
   //------------------
    var elm_ss = document.getElementById(ll[17])
    var event_click_sub_section = new Event("click", {bubbles: true});
    elm_ss.setAttribute("is_send", "0")
    elm_ss.dispatchEvent(event_click_sub_section)
    elm_ss.setAttribute("is_send", "1")
   //------------------

 } else if (msg_.type == 'scroll_screens')
 {
   ll = msg_.msg.split(',')
   //------------------
   document.documentElement.scrollTop = ll[0]
   document.documentElement.scrollLeft = ll[1]
   //------------------
 } else if (msg_.type == 'move_frame')
 {
   ll = msg_.msg.split(',')
   //------------------
   //console.log("onmove: ", ll[0], ll[1], ll[2], ll[3], ll[4])
   s = ll[0] + '.move_frame(' + ll[1] + ',' + ll[2] + ',' + ll[3] + ',' + ll[4] + ')'
   //console.log(s)
   eval(s)
   //------------------
 } else if (msg_.type == 'chat_message')
 {
               //alert("in recieve message ")
               //alert("END in recieve message ")

   ct.setChatMessage(msg_)
 }
}

// s += '  if(is_in_session==true){return;}'

socket.onopen = function(e){

                //alert('open')
     ct.setOnSocketOpen()
}

socket.onerror = function(e){
 console.log("error", 1)
 console.log("error", e)
 console.log("error", 1)
}

socket.onclose = function(e){
 console.log("close", e)
}

//--
var link_get_wb = '{% url "chat:get_or_create_wb" %}'
var link_get_wb_of_section = '{% url "chat:get_wb_of_section" %}'

<!--try{ var vi = new Video(my_name_="vi", win_name_=chat_room_id, win_title_="Videos - "+chat_room_name, socket, chat_room_name,-->
<!--    is_instructor, use_id); vi.setMyVideo(vi); vi.setConnection(); vi.set_acWinStatEventListeners(vi);-->
<!--} catch (err) {console.log("Error video 400: ",err.message)}-->

try{
   //var vi = new openvidu(my_name_="vi", win_name_=chat_room_id, win_title_="Videos - "+chat_room_name, socket, chat_room_name,
   //is_instructor, use_id);
   //vi.set_acWinStatEventListeners(vi);
} catch (err) {console.log("Error video 400: ",err.message)}


try{ var wm = new Whiteboard(my_name_="wm", win_name_=chat_room_id, win_title_="Whiteboard - "+chat_room_name, socket,
  chat_room_name, link_get_wb, link_get_wb_of_section, use_id, is_instructor); wm.set_acWinStatEventListeners(wm);
} catch (err) {console.log("Error wm 500: ",err.message)}

try{ var ct = new Chat(my_name_="ct", win_name_=chat_room_id, win_title_="Chat - "+chat_room_name, socket, chat_room_name)
ct.set_acWinStatEventListeners(ct);

} catch (err) {console.log("Error ct 5600: ",err.message)}

// end chat functions
// ----------------------

function say()
{
 alert("say what")
}

  $('a.course_sidenave_onoff').click(function(e){
     var elm01_id = e.target.getAttribute("id")
     if(elm01_id == "course_sidenave_onoff_icon")
     {
        var elm_onoff = e.target.parentElement
        var course_sidenave_onoff_is_expanded = elm_onoff.getAttribute("aria-expanded")
        var dic_ = {'type': 'course_sidenave_onoff', 'message': course_sidenave_onoff_is_expanded, 'is_instructor':is_instructor}
        if(is_in_session == "True"){socket.send(JSON.stringify(dic_));}
     }
  });

  $('a.click_section').click(function(e){
     var elm_click_section = e.target
     var current_is_shrink = elm_click_section.getAttribute("is_shrink")
     var is_send_ = elm_click_section.getAttribute("is_send")
     var is_send_stop = elm_click_section.getAttribute("is_send_stop")
     var section_id = elm_click_section.getAttribute("data-id")

     last_section_id = section_id;
     last_current_is_shrink = current_is_shrink;

     var click_sections = document.querySelectorAll(".click_section");
     for (var i = 0; i < click_sections.length; i++) {
        var ea = click_sections[i]
        var is_shrink_ = ea.getAttribute("is_shrink")
        if (is_shrink_ == "1")
        {
            var event_click_section = new Event("click", {bubbles: true});
            ea.setAttribute("is_send_stop", "1")
            ea.setAttribute("is_shrink", "0")
            ea.dispatchEvent(event_click_section)
            ea.setAttribute("is_send_stop", "0")
        }
     }

     if(is_send_ == "1")
     {
        if(is_send_stop == "0")
        {
           if (current_is_shrink == '0')
           {elm_click_section.setAttribute("is_shrink", "1"); wm.setSectionId(section_id);}
           var dic_ = {'type': 'change_section', 'message': section_id + "," + current_is_shrink, 'is_instructor':is_instructor}
           if(is_in_session == "True"){socket.send(JSON.stringify(dic_));}
        }
     } else
    {
      var status = elm_click_section.getAttribute("status")
      if (status == current_is_shrink)
      {
       if (current_is_shrink == '0')
       {elm_click_section.setAttribute("is_shrink", "1");elm_click_section.setAttribute("is_send", "1");
        wm.setSectionId(section_id);}
      }
    }
  });

  $('a.plugin').click(function(e){
      e.preventDefault(); var elm_id = e.target.getAttribute("id"); var is_send = e.target.getAttribute("is_send")
                last_sub_section_id = elm_id
      $.post('{% url "courses:sub_section_detail" %}',
        {
          slug: $(this).data('slug')
        },
        function(data){
            $('#plugin').empty().append(data)
        }
      );
      if(is_send == "1")
        {
          var dic_ = {'type': 'change_sub_section', 'message': elm_id, 'is_instructor':is_instructor}
          if(is_in_session == "True"){socket.send(JSON.stringify(dic_));}
        }
  });

  $('a.add_section_sub').click(function(e){
   e.preventDefault();
   var ss = prompt('enter name', '')
   e.target.setAttribute('data-on', ss)
      $.post('{% url "courses:set_new_model_instance" %}',
        {
          mn: $(this).data('mn') ,
          pmn: $(this).data('pmn') ,
          pmid: $(this).data('pmid'),
          on: $(this).data('on')
        },
        function(data){
            alert(data['status'])
        }
      );
  });

  $('a.test').click(function(e){
    e.preventDefault();
   //alert(e.target.outerHTML)

      $.post('{% url "elearning:set_test" %}',
        {
          id: $(this).data('id'),
        },
        function(data){
            //alert(data)
            $('#plugin').empty().append(data)
        }
      );
  });

  $('input.correct').click(function(event){
        e = event.target
        //alert(e.outerHTML)

        pkey = e.getAttribute("pkey")
        value = e.checked

    $.post('{% url "elearning:set_correct_answer" %}',
      {
        pkey_ : pkey,
        value_: value
      },
      function(data){
          //alert(data['status'])
      });
  });

  try{
    get_user_swot()
  } catch (err) { console.log("get_user_swot(): ", err.message)}

{% endblock %}

