{% extends "radiusfood_base.html" %}
{% load static %}

{% block link_specific %}
	<script type='text/javascript' src="{% static 'radiusfood/jquery.prettyPhoto.min.js' %}"></script>
{% endblock %}

{% block body_ %}
	<body id="body_base0" class="home page-template-default page page-id-38 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">
{% endblock %}

{% block content %}
	<div class="container">
		<div id="post-38" class="post-38 page type-page status-publish hentry">
			<div id="wrapper-banner" class="vc_row wpb_row vc_row-fluid d-none d-lg-block">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div class="wpb_wrapper">
									<h3 class="desc"><span style="color: #1c1b53; opacity: 0.8; font-size: 30px; background: #fff !important; margin: 0 10px 10px 10px; padding: 10px; position: relative; left: -10px;">
										Quality eggs at the lowest price!</span>
									</h3>
								</div>
							</div>
							<div class="vc_btn3-container  btn-green vc_btn3-inline">
								<a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-right vc_btn3-color-grey" href="{% url 'radiusfood:suppliers_registration' %}" title="">
									Supplier Registration &nbsp; &#8680;
								</a>
							</div>
							<div class="vc_btn3-container  btn-orange vc_btn3-inline">
								<a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-right vc_btn3-color-grey" href="{% url 'radiusfood:suppliers_registration' %}" title="">
									Vendor Registration  &nbsp; &#8680;</a>
							</div>
							<div class="wpb_single_image wpb_content_element vc_align_left">
								<figure class="wpb_wrapper vc_figure">
									<div class="vc_single_image-wrapper   vc_box_border_grey">
										<img width="2500" height="1326" src="{% static 'img/radiusfood/radius_Banner-2.jpg'%}"
											 class="vc_single_image-img attachment-full" alt=""
											 srcset="{% static 'img/radiusfood/radius_Banner-2.jpg'%} 2500w,
											 {% static 'img/radiusfood/radius_Banner-2.jpg'%} 300w,
											 {% static 'img/radiusfood/radius_Banner-2.jpg'%} 1024w,
											 {% static 'img/radiusfood/radius_Banner-2.jpg'%} 768w,
											 {% static 'img/radiusfood/radius_Banner-2.jpg'%} 1536w,
											 {% static 'img/radiusfood/radius_Banner-2.jpg'%} 2048w" sizes="(max-width: 2500px) 100vw, 2500px" />
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid bg-blue d-lg-none">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div class="wpb_wrapper">
									<h4>Quality at the lowest price!</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid bg-yellow no-wrap">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_center   mb-0">
								<figure class="wpb_wrapper vc_figure">
									<div class="vc_single_image-wrapper   vc_box_border_grey">
										<img width="2500" height="1080" src="{% static 'img/radiusfood/radius_Banner-1.jpg'%}"
											 class="vc_single_image-img attachment-full" alt=""
											 srcset="{% static 'img/radiusfood/radius_Banner-1.jpg'%} 2500w,
											 {% static 'img/radiusfood/radius_Banner-1.jpg'%} 300w,
											 {% static 'img/radiusfood/radius_Banner-1.jpg'%} 1024w,
											 {% static 'img/radiusfood/radius_Banner-1.jpg'%} 768w,
											 {% static 'img/radiusfood/radius_Banner-1.jpg'%} 1536w,
											 {% static 'img/radiusfood/radius_Banner-1.jpg'%} 2048w" sizes="(max-width: 2500px) 100vw, 2500px" />
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid bg-blue d-none d-lg-block">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
							<div class="wpb_text_column wpb_content_element ">
								<div class="wpb_wrapper">
									<h5 style="text-align: center;">We are a food distribution platform.</h5>
								</div>
							</div>
							<div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid bg-blue d-lg-none">
				<div class="col-sm-6 wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div class="wpb_wrapper">
									<p>We are a B2B technology enabled food distribution platform.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="vc_btn3-container  btn-green vc_btn3-inline">
								<a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-right vc_btn3-color-grey"
								   href="#" title="">Supplier Registration  &nbsp; &#8680;</a>
							</div>
							<div class="vc_btn3-container  btn-orange vc_btn3-inline">
								<a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-right vc_btn3-color-grey"
								   href="#" title="">Vendor Registration  &nbsp; &#8680;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center">
								<div class="wpb_wrapper">
									<div class="wpb_video_wrapper">
										<iframe title="The Journey of a Radius Food" width="500" height="281"
												src="https://www.youtube.com/embed/g1IVTDmV35o"
												frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
										</iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div class="wpb_wrapper">
									<h3 class="title">Our Products</h3>
									<p>We provide a complete supply chain for a variety of products.</p>
								</div>
							</div>
							<div class="vc_grid-container-wrapper vc_clearfix">
								<div class="vc_grid-container vc_clearfix wpb_content_element vc_basic_grid resposive-list" data-initial-loading-animation="none"
									 data-vc-grid-settings="{&quot;page_id&quot;:38,&quot;style&quot;:&quot;all&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1599211434225-ab8dd5be-b548-5&quot;,&quot;tag&quot;:&quot;vc_basic_grid&quot;}"
									 data-vc-request="#" data-vc-post-id="38" data-vc-public-nonce="7748a3acd7">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_text_column wpb_content_element ">
							<div class="wpb_wrapper">
								<h3 class="title"><a href="#">In the News</a></h3>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p>For all our articles view our <a href="#">media section</a>.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_grid-container-wrapper vc_clearfix">
							<div class="vc_grid-container vc_clearfix wpb_content_element vc_basic_grid featured" data-initial-loading-animation="none"
								 data-vc-grid-settings="{&quot;page_id&quot;:38,&quot;style&quot;:&quot;all&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1599211434227-75c743e4-3ade-10&quot;,&quot;tag&quot;:&quot;vc_basic_grid&quot;}"
								 data-vc-request="#" data-vc-post-id="38" data-vc-public-nonce="7748a3acd7">
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
		</div>
	</div>
{% endblock %}
