{% extends "radiusfood_base.html" %}
{% load static %}

{% block title %}
    <title>Radius Food - Registration</title>
{% endblock title %}

{% block link_specific %}

{% endblock %}


{% block body_ %}
    <body class="page-template-default page page-id-132 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">
{% endblock %}

{% block content %}
    <div id="banner-notification" style="background: white;padding: 10px 0; color: #000A56; width: 100%; position: fixed; bottom: 0; z-index: 1000; border-top: 1px solid #eee"></div>
    <div class="container">
        <div id="post-132" class="post-132 page type-page status-publish hentry">

            <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid bg-blue">
                <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h5 style="text-align: center;">We would love to hear from you</h5>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner "><div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <dl class="row">
                                    <dt class="col-sm-4">Address:</dt>
                                    <dd class="col-sm-8">9 Riverside, Riverside DR , Nairobi</dd>
                                    <dt class="col-sm-4">Email:</dt>
                                    <dd class="col-sm-8">
                                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="224b4c444d6256554b45430c414d4f">[email&#160;protected]</a><br />
                                        <a id="LPlnk594769" href="/cdn-cgi/l/email-protection#accfd9dfd8c3c1c9dedfc9dedac5cfc9ecd8dbc5cbcd82cfc3c1" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="0"><span class="__cf_email__" data-cfemail="80e3f5f3f4efede5f2f3e5f2f6e9e3e5c0f4f7e9e7e1aee3efed">[email&#160;protected]</span></a>
                                    </dd>
                                    <dt class="col-sm-4">Hotline:</dt>
                                    <dd class="col-sm-8">
                                        <div>+254 (0) 709258000</div>
                                        <div>+254 (0) 800720872 (Toll Free)</div>
                                    </dd>
                                    <dd></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>
                    </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_tta-container" data-vc-action="collapseAll">
                                <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-spacing-5 vc_tta-controls-align-left vc_tta-o-all-clickable">
                                <div class="vc_tta-panels-container">
                                    <div class="vc_tta-panels">
                                        <div class="vc_tta-panel green" id="farmer-form" data-vc-content=".vc_tta-panel-body">
                                            <div class="vc_tta-panel-heading">
                                                <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left">
                                                    <a href="#farmer-form" data-vc-accordion data-vc-container=".vc_tta-container">
                                                        <span class="vc_tta-title-text">Supplier Registration</span><i class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a>
                                                </h4>
                                            </div>
                                            <div class="vc_tta-panel-body">
                                                <div role="form" class="wpcf7" id="wpcf7-f137-p132-o1" lang="en-US" dir="ltr">
                                                    <div class="screen-reader-response" aria-live="polite"></div>
                                                    <form action="/contacts/#wpcf7-f137-p132-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="137" />
                                                            <input type="hidden" name="_wpcf7_version" value="5.1.8" />
                                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f137-p132-o1" />
                                                            <input type="hidden" name="_wpcf7_container_post" value="132" />
                                                        </div>
                                                        <p>
                                                            <span class="wpcf7-form-control-wrap farmer-name"><input type="text" name="farmer-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span><br />
                                                            <span class="wpcf7-form-control-wrap farmer-number"><input type="text" name="farmer-number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Telephone Number" /></span><br />
                                                            <span class="wpcf7-form-control-wrap email-591"><input type="email" name="email-591" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Your Email" /></span><br />
                                                            <span class="wpcf7-form-control-wrap farmer-location"><input type="text" name="farmer-location" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Location" /></span><br />
                                                            <span class="wpcf7-form-control-wrap farmer-land"><input type="text" name="farmer-land" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Land Size (Optional)" /></span><br />
                                                            <span class="wpcf7-form-control-wrap farmer-products"><textarea name="farmer-products" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Products"></textarea></span><br />
                                                            <input type="submit" value="Apply Now" class="wpcf7-form-control wpcf7-submit" />
                                                        </p>
                                                        <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_tta-panel orange" id="vendor-form" data-vc-content=".vc_tta-panel-body">
                                            <div class="vc_tta-panel-heading">
                                                <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left">
                                                    <a href="#vendor-form" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Vendor Registration</span><i class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a>
                                                </h4>
                                            </div>
                                            <div class="vc_tta-panel-body">
                                                <div role="form" class="wpcf7" id="wpcf7-f138-p132-o2" lang="en-US" dir="ltr">
                                                    <div class="screen-reader-response" aria-live="polite"></div>
                                                    <form action="/contacts/#wpcf7-f138-p132-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="138" />
                                                            <input type="hidden" name="_wpcf7_version" value="5.1.8" />
                                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f138-p132-o2" />
                                                            <input type="hidden" name="_wpcf7_container_post" value="132" />
                                                        </div>
                                                        <p>
                                                            <span class="wpcf7-form-control-wrap vendor-name"><input type="text" name="vendor-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span><br />
                                                            <span class="wpcf7-form-control-wrap vendor-tel"><input type="text" name="vendor-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Telephone Number" /></span><br />
                                                            <span class="wpcf7-form-control-wrap vendor-location"><input type="text" name="vendor-location" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Location" /></span><br />
                                                            <input type="submit" value="Apply Now" class="wpcf7-form-control wpcf7-submit" />
                                                        </p>
                                                        <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </div>
    </div>
{% endblock %}