{% extends "base_education0.html" %}
{% load static %}
{% load thumbnail %}

  {% block title %}
  <title>Education</title>
  {% endblock%}

{% block meta %}
  <meta name="robots" content="index,follow,all">
  <meta name="msapplication-TileColor" content="#eceff1">
  <meta name="msapplication-config" content="//dpaz9rouqy0e2.cloudfront.net/static/richie/favicon/browserconfig.fd69d581fd96.xml">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:locale" content="en">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Richie demonstration">
  <meta property="og:image" content="http://localhost:8080//dpaz9rouqy0e2.cloudfront.net/static/richie/images/logo.bc96dea393cb.png">
  <meta property="og:title" content="Home">
  <meta property="og:url" content="http://localhost:8080">
{% endblock %}

{% block links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.a399bc1a5519.css' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon.e3f5be308427.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.b0adf6b91841.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.bd459d491a1e.png' %}">
  <link rel="manifest" href="{% static 'images/site.57775445aa3a.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.00983a824cb5.svg' %}" color="#f72c30">
  <link rel="shortcut icon" href="{% static 'images/favicon.bc906d84c4a9.ico' %}">
{% endblock %}

  {% block body_content %} {% endblock %}
    {% block content_ %}{% endblock %}

    {% block nav_footer %}
    <div class="body-footer">
                <div class="body-footer__container">
                      <div class="body-footer__menu">
                          <p class="body-footer__subtitle">Learn more</p>
                          <div class="body-footer__items">
                              <a href="//localhost:8080/en/annex/about/">About</a>
                              <a href="//localhost:8080/en/annex/sitemap/">Sitemap</a>
                              <a href="/styleguide/">Style guide</a>
                              <div class="nested-item nested-item--list nested-item--0">
                                  <div class="nested-item__content">{{institution_obj.institution_name}} community</div>
                                  <ul class="nested-item__items">
                                      <li><a href="https://{{institution_obj.github_link}}" target="_blank">Github</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="body-footer__brand">
                          <a href="/">
                              <img src="{{ institution_obj.footer_image.url }}" width="72px" height="100px" alt=""></a>
                      </div>

                      <div class="body-footer__insert">
                          <p class="body-footer__title">{{institution_obj.footer_phrase}}</p>
                          <div class="richie-react richie-react--language-selector" data-props-source="[data-language-selector]"></div>
                          <div class="body-footer__badges">

                              <a href="https://{{institution_obj.facebook_link}}" class="body-footer__badge" target="_blank">
                                  <svg role="img"><title>Facebook</title><use href="#icon-facebook" /></svg>
                              </a>
                              <a href="https://{{institution_obj.twitter_link}}" class="body-footer__badge" target="_blank" title="Twitter page">
                                  <svg role="img"><title>Twitter</title><use href="#icon-twitter" /></svg>
                              </a>
                              <a href="https://{{institution_obj.linkedin_link}}" class="body-footer__badge" target="_blank" title="Linkedin">
                                  <svg role="img"><title>Linkedin</title><use href="#icon-linkedin" /></svg>
                              </a>
                              <a href="https://{{institution_obj.instagram_link}}" class="body-footer__badge" target="_blank" title="Instagram">
                                  <svg role="img"><title>Instagram</title><use href="#icon-instagram" /></svg>
                              </a>

                          </div>
                      </div>
                  </div>
            </div>

    <div class="body-mentions">
      <div class="body-mentions__container">
          <div class="body-mentions__poweredby">
              <a href="https://academycity.org" target="_blank">
                  <small>Powered by</small>
                  <strong>Academy City</strong>
              </a>
          </div>
      </div>
  </div>
    {% endblock %}