{% extends "base_education.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

{% block title %}
<title>{{ subject.name }}</title>
{% endblock%}

{% block nav_bar %}
          {% include 'education/includes/description_page.html' %}
{% endblock %}

{% block main_page %}
<div class="subheader" style="margin-bottom:40px">
    <div class="subheader__container">
        <h1 class="subheader__title">{% render_model subject "name" %}</h1>
    </div>
</div>
{% endblock %}

{% block body_content %}
<!--<img src="{{program.image.url}}" width="300px" height="300px">-->
<!--{{program.program_description}}-->
{% render_placeholder subject.description %}

{% endblock %}

